/*------------------------------------------------------------------

  * Template Nam: Dustrial - Industrial HTML5 Template
  * Template UR:  https://badhonkhan.net/
  * Description:  THIS TEMPLETE ARE USEFULL FOR DESIGN AGENCY COMPANY
  * Author:       CodeTracker
  * Author URI:   https://badhonkhan.net/
  * Version:      1.0.0
  * Last update:  2018/09/19

 * -----------------------------------------------------------------*
 *                         TABLE OF CONTENTS                        *
 * -----------------------------------------------------------------*
 *
	00. Plugins;
	01. base;
	02. Header;
	03. Nav;
	04. Footer;
 *

 * -----------------------------------------------------------------*
 *                        Color Codes                               *
 * -----------------------------------------------------------------*

	$brand_color: #ff5252;

-------------------------------------------------------------------*/
/*
	=================================
		@Loaded All Plugins
		@badhonkhan
	=================================
*/
/* 
 * Embed Google Font
 * 'Catamaran', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700");
/* 
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
@import url("../css/bootstrap.min.css");
/* 
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
*/
@import url("../css/font-awesome.min.css");
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
@import url("../css/owl.carousel.min.css");
/*! Magnific Popup - v1.1.0 - 2016-02-20
 * http://dimsemenov.com/plugins/magnific-popup/
 * Copyright (c) 2016 Dmitry Semenov; 
 */
@import url("../css/magnific-popup.css");
/*! Flaticon icon font: Flaticon
 *  Creation date: 21/07/2018 07:20
 */
@import url("../css/flaticon.css");
/*! stellarnav.min
 * Copyright (c) vinnymoreira; 
 */
@import url("../css/stellarnav.min.css");
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
@import url("../css/animate.min.css");
/*
	=================================
		@Loaded All Variables
		@badhonkhan
	=================================
*/
/*
	============================================
		Google Font: 'Catamaran', sans-serif;
	============================================
*/
/*
	=================================
  		Colors
	=================================
*/
/*
	=================================
  		Social Media Colors
	=================================
*/
/*
	=================================
		@Loaded All Base Style
		@badhonkhan
	=================================
*/
/**
 * ---------------------------------------------------------------------------
 * 01. Base Styles.
 * ---------------------------------------------------------------------------
 */
body {
  font-family: "Hind", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #242424;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Hind", sans-serif;
}

a {
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

/*
	=================================
  		Global Class
	=================================
*/
.btn {
  text-transform: uppercase;
  font-weight: 600;
}

section {
  padding: 20px 0;
}

.activeColor {
  color: #ff5e14;
}

.activeBg {
  background-color: #ff5e14;
}

.btn {
  border-radius: 0;
  padding: 15px 28px 12px;
  background-color: #ff5e14;
  border-color: #ff5e14;
  line-height: 1;
}
.btn:hover {
  background-color: #061538;
  border-color: #061538;
}

.activeBorder {
  background-color: transparent;
  border-color: #ff5e14;
}

.section-title {
  margin-bottom: 20px;
}
.section-title .sub-title {
  font-size: 16px;
  font-weight: 400;
}
.section-title .main-title {
  font-size: 22px;
  font-weight: 700;
}

.home3-base-title .stock {
  margin-top: 10px;
}
.home3-base-title .sub_title {
  font-size: 16px;
  font-weight: 400;
}
.home3-base-title .section-title {
  font-size: 22px;
  font-weight: 700;
}

#page_title {
  background-image: url(../img/market-sectors-title-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 0;
}
#page_title .page_tittle {
  font-size: 22px;
  line-height: 18px;
  font-weight: 700;
}

.bread_crumb a {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}
.bread_crumb a:hover {
  color: #ff5e14;
}

.pagination_waper {
  padding-top: 25px;
}
.pagination_waper .page-link {
  font-size: 18px;
  line-height: 40px;
  border: 1px solid #24242425;
  font-weight: 600;
}
.pagination_waper .page-link:hover {
  background-color: #ff5e14;
  border-color: #ff5e14;
  color: white !important;
}
.pagination_waper .activeborder {
  border-color: #ff5e14;
}

#all_to_action {
  background-image: url(../img/call_to_action_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}
#all_to_action .call_left {
  margin-bottom: 15px;
}
#all_to_action .call_left h2 {
  font-size: 22px;
  display: inline;
}

.overflow-hidden {
  overflow: hidden;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff5e14;
  z-index: 10;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 100%;
}
.play-btn i {
  font-size: 30px;
  color: white;
}

.overflowhidden {
  overflow: hidden;
}

/*
	=================================
  		Social Media Colors
	=================================
*/
.facebook {
  color: #3b5998;
}

.twitter {
  color: #1da1f2;
}

.skype {
  color: #00aff0;
}

.vine {
  color: #00b488;
}

/*
    =================================
        Blog Search Class
    =================================
*/
.search-form .form-group {
  border: 1px solid #24242460;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 20px;
}
.search-form .form-control {
  font-size: 18px;
  height: auto;
}
.search-form .form-control:focus {
  box-shadow: none;
}
.search-form .btn {
  background: transparent;
  border-color: transparent;
  color: #24242460;
}
.search-form .btn:hover {
  color: #ff5e14;
}
.search-form .btn:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #24242460 !important;
}
.search-form .btn:focus {
  background: none;
  box-shadow: none;
}
.search-form .btn-primary:not(:disabled):not(.disabled).active, .search-form .btn-primary:not(:disabled):not(.disabled):active, .search-form .show > .btn-primary.dropdown-toggle {
  box-shadow: none;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  section {
    padding: 40px 0;
  }

  #all_to_action {
    text-align: left;
  }

  .pagination_waper .page-link {
    padding: 20px;
    line-height: 40px;
  }

  #all_to_action .call_left {
    margin-bottom: 0;
  }
}
/********************************************/
/********************************************/
@media (min-width: 992px) {
  section {
    padding: 40px 0;
  }

  .svg-size-title {
    width: 48px;
    height: 56px;
  }

  .section-title {
    margin-bottom: 40px;
  }
  .section-title .sub-title {
    font-size: 20px;
  }
  .section-title .main-title {
    font-size: 32px;
    line-height: 1;
  }

  #all_to_action .call_left {
    margin-bottom: 0;
  }
  #all_to_action .call_left h2 {
    display: inline-block;
    font-size: 32px;
    line-height: 40px;
  }
  #all_to_action .ct-cat-button {
    font-size: 1rem;
    line-height: 1;
    padding: 18px 40px 15px;
    font-weight: 600;
  }

  #page_title .page_tittle {
    padding: 50px 0;
    font-size: 30px;
  }

  .bread_crumb a {
    font-size: 18px;
  }

  .pagination_waper .page-link {
    padding: 23px 20px;
    line-height: 45px;
  }

  .home3-base-title .section-title {
    font-size: 36px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1025px) {
  section {
    padding: 99px 0;
  }

  .home3-base-title .sub_title {
    font-size: 24px;
  }

  .section-title {
    margin-bottom: 37px;
  }
  .section-title .sub-title {
    font-size: 24px;
    line-height: 40px;
  }
  .section-title .main-title {
    font-size: 36px;
    line-height: 40px;
  }

  #all_to_action .call_left h2 {
    font-size: 36px;
    line-height: 40px;
  }
  #all_to_action .ct-cat-button {
    font-size: 24px;
    line-height: 1;
    padding: 18px 40px 15px;
    font-weight: 600;
  }

  #page_title .page_tittle {
    padding: 60px 0 90px;
    font-size: 36px;
  }

  .pagination_waper .page-link {
    padding: 23px 25px;
    line-height: 60px;
  }
}
/*******************************************/
/********************************************/
@media (max-width: 991.98px) {
  .btn {
    font-size: 14px;
    padding: 12px 18px 10px;
  }

  .svg-icon-title {
    width: 38px;
    height: 38px;
  }
}
/*
	=================================
		@Loaded All Layout Style
		@badhonkhan
	=================================
*/
/*
	========================
	Header Section
	========================
*/
.header-top {
  background-color: #0b0b0b;
  font-weight: 300;
  color: white;
}
.header-top a {
  color: white;
  font-weight: 300;
}
.header-top a:hover {
  color: #ff5e14 !important;
}
.header-top i {
  color: #ff5e14;
  margin-right: 10px;
  font-size: 15px;
}
.header-top strong {
  font-weight: 600;
}
.header-top .block {
  padding: 20px 32px 20px 0;
  margin-right: 32px;
  border-right: 1px solid;
  border-color: #242424;
  font-size: 15px;
}
.header-top .block:last-child {
  border: 0;
  margin: 0;
  padding-right: 0;
}
.header-top .social-media {
  padding: 10px 0;
}
.header-top .social-media a {
  margin-right: 20px;
}
.header-top .social-media a:hover i {
  color: red;
  transition: 0.5s;
}
.header-top .social-media a:hover .fa-facebook {
  color: #3b5998;
}
.header-top .social-media a:hover .fa-twitter {
  color: #1da1f2;
}
.header-top .social-media a:hover .fa-skype {
  color: #00aff0;
}
.header-top .social-media a:hover .fa-vine {
  color: #00b488;
}
.header-top .social-media a:last-child {
  margin-right: 0;
}
.header-top .social-media a i {
  margin: 0;
  color: white;
}

.header-3 .block {
  padding-top: 0;
  padding-bottom: 0;
  border-color: #848484;
}

.header-white {
  background-color: #fff !important;
  padding: 20px 0;
}
.header-white strong,
.header-white a {
  color: #242424 !important;
}
.header-white a {
  border-color: transparent !important;
}
.header-white .block {
  padding-top: 0;
  padding-bottom: 0;
  border-color: #c1c4cd;
}
.header-white .social-media i {
  color: #737373 !important;
}
.header-white .social-media a:hover .fa-facebook {
  color: #3b5998 !important;
}
.header-white .social-media a:hover .fa-twitter {
  color: #1da1f2 !important;
}
.header-white .social-media a:hover .fa-skype {
  color: #00aff0 !important;
}
.header-white .social-media a:hover .fa-vine {
  color: #00b488 !important;
}

/*
	========================
	Header Bottom Section
	========================
*/
#header-bottom {
  background-color: #0b0b0b;
  padding: 20px 15px;
  font-weight: 300;
  color: white;
}
#header-bottom a {
  color: white;
}
#header-bottom a:hover {
  color: #ff5e14 !important;
}
#header-bottom i {
  color: #ff5e14;
  margin-right: 10px;
  font-size: 15px;
}
#header-bottom strong {
  font-weight: 600;
}
#header-bottom .block {
  font-size: 15px;
}
#header-bottom .block:last-child {
  border: 0;
  margin: 0;
  padding-right: 0;
}
#header-bottom .social-media {
  padding: 10px 0;
}
#header-bottom .social-media a {
  margin-right: 20px;
}
#header-bottom .social-media a:hover i {
  color: red;
  transition: 0.5s;
}
#header-bottom .social-media a:hover .fa-facebook {
  color: #3b5998;
}
#header-bottom .social-media a:hover .fa-twitter {
  color: #1da1f2;
}
#header-bottom .social-media a:hover .fa-skype {
  color: #00aff0;
}
#header-bottom .social-media a:hover .fa-vine {
  color: #00b488;
}
#header-bottom .social-media a:last-child {
  margin-right: 0;
}
#header-bottom .social-media a i {
  margin: 0;
  color: white;
}

@media (max-width: 991.98px) {
  .header-top {
    padding: 0 20px;
  }
  .header-top .block {
    margin-right: 0;
    padding: 5px 0;
    border: 0;
    text-align: left !important;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 768px) {
  .header-top .header-contact {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-top .block {
    margin-right: 15px;
  }

  .header-3 .block {
    margin-right: 0;
    margin-left: 15px;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 991.99px) {
  /*
  	========================
  	Header Section
  	========================
  */
  #main-header {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
  #main-header #main-nav .nav-link {
    color: white;
  }

  #header-bottom {
    background-color: transparent;
    padding: 30px 0;
  }
  #header-bottom .block {
    margin-right: 32px;
    padding-right: 32px;
    border-right: 1px solid;
    border-color: #464646;
  }

  .header-top.header-white .block {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-top.header-white .social-media {
    padding: 0 !important;
  }

  .header-top .block {
    padding-right: 10px;
    margin-right: 10px;
    font-size: 14px;
    padding: 18px 15px 18px 0;
  }
  .header-top .social-media {
    padding: 20px 0;
  }
  .header-top .header-contact {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-3 .block {
    margin-right: 10px;
    margin-left: 0;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1025px) {
  .header-top .block {
    padding-right: 30px;
    margin-right: 30px;
  }
}
/*
	========================
	ALL Nav Section
	========================
*/
#main-nav {
  padding: 15px;
  position: relative;
}
#main-nav .navbar-nav {
  margin: 0 auto;
}
#main-nav .nav-link {
  font-size: 15px;
  font-weight: 600;
  color: #242424;
  line-height: 15px;
  position: relative;
}
#main-nav .nav-link:hover {
  color: #ff5e14;
}
#main-nav .nav-link:hover:before {
  left: 50%;
  opacity: 1;
}
#main-nav .header-search {
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #c8c8c8;
}
#main-nav .header-search i {
  color: #a9a9a9;
  transition: 0.5s;
}
#main-nav .header-search:hover i {
  color: #ff5e14;
}

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
}

/* 
====== Zoom effect ======
*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/*
	========================
	Nav 3 Section
	========================
*/
.home-3 #main-nav .header-search {
  margin: 0;
  padding: 0;
  border-color: transparent;
}
.home-3 #main-nav .navbar-nav {
  margin: unset;
}

/*
	========================
	Nav 2 Section
	========================
*/
#main-header #main-nav {
  background: #ffffff10;
}
#main-header #main-nav .navbar-nav {
  margin: 0;
}

/*
	========================
	StellarNav Style
	========================
*/
.stellarnav {
  width: auto;
  margin: 0 auto;
}
.stellarnav ul ul {
  background-color: #061538;
}
.stellarnav ul ul a:hover {
  background: #ff5e14;
}
.stellarnav li a {
  color: white;
  padding: 20px;
}

/*=================================
===================================*/
.logo,
.main-nav-area,
.nav-serch-area {
  width: 100%;
}

.nav-serch-area {
  position: absolute;
  right: 15px;
}

.stellarnav.mobile ul {
  background: transparent;
}

.stellarnav.mobile > ul > li > a.dd-toggle {
  color: #061538;
}

.stellarnav.mobile li.has-sub a {
  color: #061538;
}

.stellarnav.mobile .menu-toggle {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 0;
  width: auto;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #main-nav {
    padding: 0;
  }

  .stellarnav.mobile .menu-toggle {
    position: static;
    right: auto;
    top: auto;
    width: auto;
  }
}
/********************************************/
/********************************************/
@media (min-width: 992px) {
  .logo,
  .main-nav-area,
  .nav-serch-area {
    width: auto;
  }

  .nav-serch-area {
    position: static;
    right: inherit;
  }

  #main-nav .nav-link {
    padding: 35px 12px;
  }
  #main-nav .nav-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 35%;
    width: 20px;
    height: 4px;
    background: #ff5e14;
    transform: translateX(-50%);
    transition: 0.5s;
    opacity: 0;
  }
  #main-nav .ct-active .nav-link:before {
    opacity: 1;
    left: 50%;
  }
  #main-nav .header-search {
    margin-right: 10px;
    padding-right: 10px;
  }

  .home-3 #main-nav {
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  .home-3 #main-nav .nav-link {
    color: white;
  }
  .home-3 #main-nav .header-search {
    margin-left: 10px;
    padding-left: 15px;
    border-left: 1px solid #c8c8c8;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1200px) {
  #main-nav .nav-link {
    padding: 35px 19px;
  }
  #main-nav .header-search {
    margin-right: 30px;
    padding-right: 30px;
  }

  .main-nav-class .stellarnav {
    margin: inherit;
  }
}
/**
 * ---------------------------------------------------------------------------
 * 0?. Footer Styles
 * ---------------------------------------------------------------------------
 */
#footer {
  background-color: #0b0b0b;
  padding: 40px 0 18px;
  border-top: 1px solid #292929;
}
#footer .footer-nav-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}
#footer .footer-nav-list {
  padding-left: 25px;
}
#footer .footer-nav-list li {
  border-left: 1px solid #2f2f2f;
}
#footer .footer-nav-list a {
  color: #848484;
  position: relative;
  padding-left: 12px;
  font-size: 15px;
  font-weight: 100;
}
#footer .footer-nav-list a:hover {
  color: #ff5e14;
}
#footer .footer-nav-list a:hover:before {
  background: #ff5e14;
}
#footer .footer-nav-list a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  height: 1px;
  width: 25px;
  background: #848484;
  transform: translateY(-50%);
}
#footer .footer-block {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #242424;
}
#footer .footer-block:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}
#footer .footer-block a:hover .footer-blog-title {
  color: #ff5e14;
}
#footer .footer-block p {
  color: #848484;
}
#footer .footer-block .footer-blog-date {
  font-size: 12px;
  margin-bottom: 5px !important;
}
#footer .footer-block .footer-blog-title {
  font-size: 15px;
  line-height: 20px;
  transition: 0.5s;
}

.bind_footer {
  background: url("../img/bind_footer_bg.jpg") no-repeat;
  background-color: #0b0b0b;
}
.bind_footer #footer {
  border-color: transparent;
  background: transparent;
  padding: 40px 0;
}
.bind_footer #footer .footer-nav-title {
  margin-bottom: 15px;
}
.bind_footer #footer .footer-logo {
  margin-bottom: 25px;
}
.bind_footer #footer .footer-nav-list li {
  border-color: transparent;
  margin-bottom: 10px;
}
.bind_footer .subscription-form input {
  background: transparent;
  border-color: #484848;
  height: auto;
  padding: 5px 10px;
  font-size: 12px;
  color: white;
  border-radius: 0;
}
.bind_footer .btn-primary {
  width: 100%;
  padding: 8px;
}
.bind_footer .address_info {
  margin-bottom: 60px;
}
.bind_footer .address_info span {
  font-weight: 500;
}
.bind_footer .address_info p {
  color: #848484;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 25px;
}
.bind_footer .address_info .footer-address {
  margin-bottom: 12px;
}
.bind_footer .address_info .footer-open {
  margin-top: 7px;
}
.bind_footer .social-media {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #3a3a3a;
}
.bind_footer .social-media a {
  float: left;
  margin-right: 15px;
}
.bind_footer .social-media i {
  display: inline-block;
  font-size: 10px;
}

/*******************************************/
/********************************************/
@media (max-width: 575.98px) {
  #footer {
    padding: 20px 0;
  }
}
/*
	===========================
	Copy Right Section
	===========================
*/
#copyright {
  background: #141414;
  padding: 20px 0;
}
#copyright .company-name {
  font-weight: 600;
}
#copyright .company-name:hover {
  color: #848484;
}

.social-media a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #595959;
  margin-right: 28px;
  color: #868686;
}
.social-media a:last-child {
  margin: 0;
}
.social-media .ct-twitter:hover {
  background: #00aff0 !important;
  border-color: #00aff0 !important;
  color: white;
}
.social-media .ct-facebookr:hover {
  background: #3b5998 !important;
  border-color: #3b5998 !important;
  color: white;
}
.social-media .ct-instagramr:hover {
  background: #fd1d1d !important;
  border-color: #fd1d1d !important;
  color: white;
}
.social-media .ct-skype:hover {
  background: #00aff0 !important;
  border-color: #00aff0 !important;
  color: white;
}
.social-media .ct-linkedin:hover {
  background: #0274b3 !important;
  border-color: #0274b3 !important;
  color: white;
}

/*******************************************/
/********************************************/
@media (max-width: 575.98px) {
  #copyright {
    text-align: center;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 768px) {
  .bind_footer #footer {
    padding-bottom: 13px;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 992px) {
  #footer {
    padding: 45px 0 60px;
  }
  #footer .footer-nav-title {
    margin-bottom: 36px !important;
  }

  .bind_footer #footer {
    padding-bottom: 40px;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1025px) {
  .bind_footer #footer {
    padding: 100px 0;
  }
}
/*
	========================
	Main Slider Style
	========================
*/
.main-slider {
  position: relative;
}
.main-slider .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.main-slider .owl-dot {
  width: 15px;
  height: 8px;
  border-radius: 5px;
  margin: 0 3px;
  transition: 0.5s;
  background-color: #9f9ba0 !important;
}
.main-slider .owl-dot:hover {
  box-shadow: inset 0px 0px 0px 2px #ff5e14 !important;
}
.main-slider .active {
  width: 30px;
  background-color: #ff5e14 !important;
}
.main-slider .slider-content-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
}
.main-slider .slider-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}
.main-slider .activeColor {
  font-weight: 300;
}
.main-slider .slider-content {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}
.main-slider .slider-btn {
  margin-top: 45px;
}
.main-slider .btn {
  margin-right: 20px;
}
.main-slider .btn:last-child {
  margin-right: 0;
}

/*
    ========================
    Slider 3 Style
    ========================
*/
.home-3 .slider-three {
  background: url("../img/home-3.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.home-3 .slider-three #main-slider {
  padding: 253px 0 308px;
}
.home-3 .slider-three .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.home-3 .slider-three .owl-dot {
  width: 15px;
  height: 8px;
  border-radius: 5px;
  margin: 0 3px;
  transition: 0.5s;
  background-color: #9f9ba0 !important;
}
.home-3 .slider-three .owl-dot:hover {
  box-shadow: inset 0px 0px 0px 2px #ff5e14 !important;
}
.home-3 .slider-three .owl-dot.active {
  width: 30px;
  background-color: #ff5e14 !important;
}
.home-3 .slider-three .slider-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}
.home-3 .slider-three .slider-btn {
  margin-top: 45px;
}
.home-3 .slider-three .slider-sub-title {
  font-size: 40px;
  font-weight: 300;
}
.home-3 .slider-three .btn {
  margin-right: 20px;
}

/*
    ========================
    Slider 2 Style
    ========================
*/
.main-slider-2 .slider-title .sub_title {
  font-weight: 300;
  position: relative;
  display: inline-block;
  padding: 0 5px;
}
.main-slider-2 .slider-title .sub_title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #ff5e14;
}
.main-slider-2 .slider-title .sub_title p {
  position: relative;
  z-index: 1;
}

/*******************************************/
/********************************************/
@media (max-width: 1199px) {
  .main-slider .slider-title {
    font-size: 30px;
    line-height: 1;
  }
  .main-slider .slider-content {
    font-size: 18px;
    line-height: 28px;
  }
  .main-slider .slider-btn {
    margin-top: 20px;
  }

  .home-3 .slider-three #main-slider {
    padding: 150px 0;
  }
  .home-3 .slider-three .slider-title {
    font-size: 40px;
    line-height: 1;
  }
  .home-3 .slider-three .slider-sub-title {
    font-size: 30px;
  }
  .home-3 .slider-three .slider-btn {
    margin-top: 45px;
  }
}
/*******************************************/
/********************************************/
@media (max-width: 991.98px) {
  .main-slider .slider-title {
    font-size: 25px;
    line-height: 1;
  }
  .main-slider .slider-content {
    line-height: 20px;
    font-size: 14px;
  }
  .main-slider .slider-btn {
    margin-top: 15px;
  }

  .home-3 .slider-three .slider-title {
    font-size: 25px;
    line-height: 1;
  }
  .home-3 .slider-three .slider-content {
    line-height: 20px;
    font-size: 14px;
  }
  .home-3 .slider-three .slider-sub-title {
    font-size: 20px;
  }
  .home-3 .slider-three .slider-btn {
    margin-top: 15px;
  }
  .home-3 .slider-three #main-slider {
    padding: 70px 0;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 992px) {
  .main-slider .owl-dots {
    bottom: 20px;
  }

  .home-3 .slider-three .owl-dots {
    bottom: 50px;
  }

  .main-slider-2 .slider-title .sub_title {
    padding: 0 15px;
  }
  .main-slider-2 .slider-title .sub_title:after {
    height: 14px;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1200px) {
  .main-slider .owl-dots {
    bottom: 50px;
  }

  .home-3 .slider-three .owl-dots {
    bottom: 100px;
  }

  .main-slider-2 .slider-title .sub_title {
    padding: 0 30px;
  }
  .main-slider-2 .slider-title .sub_title:after {
    height: 30px;
  }
}
/*******************************************/
/********************************************/
@media (max-width: 767.98px) {
  .main-slider {
    text-align: center;
  }
  .main-slider .slider-title {
    font-size: 22px;
    line-height: 1;
  }

  .home-3 .slider-three {
    text-align: center;
  }
}
/*
	========================
	Featured Section
	========================
*/
#featured .featured-img {
  padding-right: 18px;
  position: relative;
}
#featured .featured-img .img-before {
  position: absolute;
  background: #ff5e14;
  left: 90px;
  bottom: -13px;
  top: 90px;
  right: 5px;
}
#featured .featured-img img {
  position: relative;
  z-index: 10;
}
#featured .section-title {
  margin-bottom: 24px;
  margin-top: 12px;
}
#featured .featured-icon {
  margin-bottom: 12px;
}
#featured .featured-icon i {
  color: #ff5e14;
}
#featured .featured-icon i:before {
  font-size: 47px;
}
#featured .featured-item-box:last-child .featured-content {
  margin-bottom: 15px;
}
#featured .featured-item:hover .featured-item-title {
  color: #ff5e14;
}
#featured .featured-item:hover .featured-icon i {
  color: #061538;
}
#featured .featured-item-title {
  font-weight: 600;
  transition: 0.5s;
  margin: 0;
  font-size: 18px;
}
#featured .featured-content {
  margin-top: 10px;
  margin-bottom: 25px;
}
#featured .work-counter {
  padding: 20px 20px 0;
  border-top: 1px solid;
  border-color: #e9e9e9;
}
#featured .work-counter .activeColor {
  font-weight: 600;
}
#featured .count {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
}
#featured .count h5 {
  font-size: 18px;
}
#featured .count:last-child {
  margin-bottom: 0;
}
#featured .counter {
  font-size: 24px;
  margin-bottom: 10px;
}

/********************************************/
/********************************************/
.home2-base-title h1 {
  font-size: 25px;
}

#featured-2 .featured-overlay {
  bottom: 30px;
  left: 25px;
}
#featured-2 .featured-overlay .featured-title {
  font-size: 20px;
  font-weight: 400;
}

/********************************************/
/********************************************/
#featured-3 .card-title {
  font-size: 18px;
  color: #061538;
  transition: 0.5s;
  font-weight: 600;
}
#featured-3 .card-text {
  color: #242424;
}
#featured-3 svg {
  transition: 0.5s;
  fill: #ff5e14;
}
#featured-3 .card {
  border-color: #c7c7c7;
  transition: 0.5s;
}
#featured-3 .card:hover {
  box-shadow: 0px 9px 8px -2px rgba(0, 0, 0, 0.16);
}
#featured-3 .card:hover .card-title {
  color: #ff5e14;
}
#featured-3 .card:hover svg {
  fill: #061538;
}
#featured-3 .card-body {
  padding: 20px;
}

/********************************************/
/********************************************/
@media (min-width: 992px) {
  /********************************************/
  /********************************************/
  .home2-base-title h1 {
    font-size: 36px;
  }

  #featured-2 .featured-overlay .featured-title {
    font-size: 24px;
  }

  #featured-3 {
    padding-top: 40px;
  }

  #featured .featured-img:before {
    left: 125px;
    bottom: -18px;
    top: 121px;
    right: -1px;
  }
  #featured .section-title {
    margin-bottom: 35px;
    margin-top: 30px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 768px) {
  #featured {
    padding-bottom: 90px;
  }
  #featured .work-counter {
    margin-top: 0px;
  }
  #featured .count {
    margin-bottom: 0;
  }

  #featured-3 .card-title {
    font-size: 20px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1025px) {
  #featured {
    padding-bottom: 116px;
  }
  #featured .featured-item-title {
    font-size: 24px;
    line-height: 30px;
  }
  #featured .section-title {
    margin-top: 34px;
    margin-bottom: 50px;
  }
  #featured .count h5 {
    font-size: 24px;
  }
  #featured .counter {
    font-size: 36px;
  }
  #featured .featured-content {
    margin-top: 12px;
    margin-bottom: 40px;
  }
  #featured .work-counter {
    padding: 49px 31px 0;
    border-top: 1px solid;
    border-color: #e9e9e9;
    margin-top: 25px;
  }
  #featured .featured-item-box:nth-child(3) p {
    margin-bottom: 0;
  }
  #featured .featured-item-box:nth-child(4) p {
    margin-bottom: 0;
  }

  #featured-2 {
    padding-top: 95px;
  }

  #featured-3 .card-title {
    font-size: 24px !important;
  }
  #featured-3 .card-body {
    padding: 35px 33px 35px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1200px) {
  #featured-3 {
    margin-top: -123px;
  }
}
/*
	========================
	Market Section Style 01
	========================
*/
#market-section {
  padding-bottom: 0;
}
#market-section i {
  color: #fff;
}
#market-section i:before {
  font-size: 32px;
}
#market-section i.fa-link {
  color: #ff5e14;
}
#market-section i.fa-link:before {
  font-size: 30px;
}
#market-section .card {
  overflow: hidden;
}
#market-section .card:hover .shape {
  border-top: 110px solid #ff5e14;
  border-left: 110px solid transparent;
}
#market-section .card:hover .img-overlay {
  opacity: 1;
  transform: translateY(0);
}
#market-section .card:hover .img-overlay::before {
  opacity: 1;
}
#market-section .card:hover .categories {
  margin: 20px 20px;
}
#market-section .card:hover .card-title {
  color: #ff5e14;
}
#market-section .card a {
  color: #061538;
}
#market-section .card .card-title {
  transition: 0.5s;
  font-weight: 600;
  font-size: 18px;
}
#market-section .categories {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px 15px;
  transition: 0.5s;
}
#market-section .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  transition: 0.5s;
  border-top: 100px solid #061538;
  border-left: 100px solid transparent;
}
#market-section .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 21, 56, 0.66);
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-10px);
}
#market-section .img-overlay:before {
  content: "";
  position: absolute;
  left: 26px;
  top: 26px;
  bottom: 26px;
  right: 26px;
  transition: 0.8s;
}
#market-section .style-1:before {
  border-color: #ff5e14;
  border: 1px solid;
}

.market_page #market-section {
  padding-bottom: 20px;
}

.market-section-2 .card-body {
  padding-bottom: 13px;
}

/*
    ========================
    Market Section Style 03
    ========================
*/
/********************************************/
/********************************************/
@media (min-width: 768px) {
  #market-section {
    padding: 40px 0 14px !important;
  }

  #market-section.market-section-2 {
    padding: 40px 0 20px !important;
  }

  .market_page #market-section {
    padding: 40px 0 !important;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 992px) {
  #market-section {
    padding: 40px 0 14px !important;
  }
  #market-section .card .card-title {
    font-size: 20px;
  }

  .home3-base-title {
    margin-bottom: 38px;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1025px) {
  #market-section .card .card-title {
    font-size: 23px;
    margin-bottom: 10px !important;
  }
  #market-section .card .card-body {
    padding: 26px 0 !important;
  }
  #market-section .market-area:nth-last-child(-n+3) .card .card-body {
    padding-bottom: 0 !important;
  }

  /*
      ========================
      Market Section Style 02
      ========================
  */
  #market-section.market-section-2 {
    padding: 100px 0 92px !important;
  }

  .market-section-2 {
    padding-top: 97px !important;
  }

  .market-section-3 {
    padding-top: 94px !important;
  }
  .market-section-3 .market-area:nth-last-child(-n+3) .card .card-body {
    padding-bottom: 0 !important;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1200px) {
  #market-section {
    padding: 90px 0 93px !important;
  }

  .market_page #market-section {
    padding: 100px 0 !important;
  }
}
/*
    =====================================================
    Market Section Style 02
    =====================================================
*/
.market-style-2:hover .media-icon {
  background: #ff5e14;
}
.market-style-2:hover .media-icon i:before {
  color: white;
}
.market-style-2:hover .b-color {
  border-color: #ff5e14;
}
.market-style-2 .img-overlay::before {
  border-color: transparent !important;
}
.market-style-2 .b-color {
  border: 1px solid;
  border-color: #CDD0D7;
  padding: 14px 10px 5px !important;
  border-radius: 4px;
}
.market-style-2 .media-icon {
  transition: 0.5s;
  margin-right: 10px;
}
.market-style-2 .media-icon i:before {
  color: #061538;
}

/*
    ========================
    Market Section Style 03
    ========================
*/
.market-style-3:hover .categories {
  margin: 20px 20px !important;
}
.market-style-3 i:before {
  font-size: 38px !important;
}
.market-style-3 i.fa-link:before {
  font-size: 30px !important;
}
.market-style-3:hover .shape-style-2 {
  border-bottom: 190px solid #ff5e14;
  border-right: 190px solid transparent;
}
.market-style-3 .categories {
  margin: 10px 15px !important;
}
.market-style-3 .shape-style-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: 0.5s;
  opacity: 1;
  border-bottom: 180px solid #ff5e14;
  border-right: 180px solid transparent;
  clip-path: circle(50% at 0 100%);
}
.market-style-3 .categories {
  position: absolute;
  top: inherit !important;
  right: inherit !important;
  bottom: 5px;
  left: 5px;
  margin: 8px;
  transition: 0.5s;
}

/*
	========================
	Inspiring Section
	========================
*/
#inspiring {
  background-color: #f8f8f8;
}
#inspiring .inspiring-by {
  margin-bottom: 20px;
}
#inspiring .inspiring-video img {
  transform: scale(1.8);
}
#inspiring .inspiring-by .inspiring-author {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  line-height: 20px;
}
#inspiring .inspiring-by .inspiring-author-role {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
}
#inspiring .inspiring-by img {
  margin-bottom: 20px;
}

/*
	========================
	Inspiring 2 Section
	========================
*/
#inspiring-2 {
  background: url("../img/inspiring-bg-2.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
#inspiring-2 .subtitle {
  font-size: 20px;
}
#inspiring-2 .inspiring-title {
  font-size: 24px;
}
#inspiring-2 .inspiring-by .inspiring-author {
  font-size: 18px;
  font-weight: 600;
}
#inspiring-2 .inspiring-by .inspiring-author-role {
  font-size: 15px;
  margin: 0;
  line-height: 20px;
}
#inspiring-2 .inspiring-by .inspiring-author {
  font-size: 18px;
  margin: 0;
  line-height: 20px;
}
#inspiring-2 .inspiring-by img {
  margin-bottom: 20px;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #inspiring .play-btn {
    left: 12%;
  }
  #inspiring .inspiring-video img {
    transform: scale(1);
  }
  #inspiring .inspiring-by {
    margin: 0;
  }
  #inspiring .inspiring-content-area {
    max-width: 330px;
  }

  #inspiring-2 .subtitle {
    font-size: 24px;
  }
  #inspiring-2 .inspiring-title {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  #inspiring .inspiring-content-area {
    max-width: 450px;
  }
}
@media (min-width: 1025px) {
  #inspiring .inspiring-content-area {
    max-width: 540px;
  }
  #inspiring .inspiring-by {
    margin-top: 68px;
  }
}
/*
	========================
	Inspiring Section
	========================
*/
#technical-solutions {
  background: url("../img/technical-solutions-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
#technical-solutions .section-title {
  margin-bottom: 9px;
}
#technical-solutions .technical-content {
  margin-bottom: 20px;
}
#technical-solutions .technical-solutions li {
  padding-left: 25px;
  position: relative;
}
#technical-solutions .technical-solutions li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: #ff5e14;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 1px 2px white;
  border: 1px solid #ff5e14;
  transform: translateY(-50%);
}
#technical-solutions .btn-primary img {
  margin-left: 10px;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */
/* 2 Columns */
.mix,
.gap {
  width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */
@media screen and (min-width: 541px) {
  .mix,
  .gap {
    width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
  }
}
/* 4 Columns */
@media screen and (min-width: 961px) {
  .mix,
  .gap {
    width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
  }

  #technical-solutions .technical-solutions {
    margin-bottom: 40px;
  }
}
/* 5 Columns */
@media screen and (min-width: 1281px) {
  .mix,
  .gap {
    width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
  }

  #technical-solutions {
    padding-bottom: 100px;
    padding-top: 92px;
  }
}
@media (min-width: 1380px) {
  #testimonials-3 .owl-prev {
    float: left !important;
    margin: 0 !important;
    transform: translateX(-163px) !important;
  }
  #testimonials-3 .owl-next {
    float: right;
    transform: translateX(132px) !important;
  }
}
/*
	========================
	Letest Project
	========================
*/
#letest-project .section-title {
  margin-bottom: 17px;
}
#letest-project .mixitup-menus .btn {
  text-transform: none;
}
#letest-project .mix {
  margin-bottom: 20px;
}
#letest-project .mix:last-child {
  margin-bottom: 0 !important;
}
#letest-project .mixitup-menus {
  margin-bottom: 20px;
  background-color: #ff5e14;
  text-align: center;
}
#letest-project .mixitup-menus button {
  padding: 18px;
  margin: 0 12px;
  padding-left: 0;
  padding-right: 0;
  font-weight: 500;
}
#letest-project .mixitup-menus button:hover {
  background: transparent;
  border-color: transparent;
  color: #061538;
}
#letest-project .mixitup-menus button:focus {
  box-shadow: none;
}
#letest-project .mixitup-control-active {
  position: relative;
  color: #061538;
  font-weight: 600;
}
#letest-project .mixitup-control-active:before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #061538;
  position: absolute;
  bottom: 0;
  left: 0;
}
#letest-project .card {
  overflow: hidden;
}
#letest-project .card:hover .shape {
  border-bottom: 110px solid #ff5e14;
  border-right: 110px solid transparent;
  opacity: 1;
}
#letest-project .card:hover .img-overlay {
  opacity: 1;
  transform: translateY(0);
}
#letest-project .card:hover .img-overlay::before {
  opacity: 1;
}
#letest-project .card:hover .categories {
  margin: 20px;
  opacity: 1;
}
#letest-project .categories {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  transition: 0.5s;
  opacity: 0;
}
#letest-project .shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: 0.5s;
  opacity: 0;
  border-bottom: 100px solid #ff5e14;
  border-right: 100px solid transparent;
}
#letest-project .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #061538ad;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-10px);
}
#letest-project .img-overlay:before {
  content: "";
  position: absolute;
  left: 26px;
  top: 26px;
  bottom: 26px;
  right: 26px;
  transition: 0.8s;
}

.letest_project_section {
  background: #0b0b0b;
}
.letest_project_section .mixitup-menus {
  margin-bottom: 16px !important;
  background-color: transparent !important;
}
.letest_project_section .mixitup-menus button {
  margin: 5px !important;
  padding: 16px 30px 14px !important;
  color: white !important;
  border: 1px solid #484848;
  background: transparent !important;
}
.letest_project_section .mixitup-menus button:hover {
  background: #ff5e14 !important;
}
.letest_project_section .mixitup-menus button:before {
  content: initial !important;
  height: 0 !important;
}
.letest_project_section .mixitup-menus .mixitup-control-active {
  background: #ff5e14 !important;
  border-color: transparent;
}

/*
    ========================
    Letest Project 3
    ========================
*/
#letest-project-3 a {
  color: #061538;
}
#letest-project-3 .project-area {
  margin-bottom: 20px;
}
#letest-project-3 .project-area:nth-last-child(-n+3) {
  margin-bottom: 0;
}
#letest-project-3 .card {
  background: #f4f4f4;
  border-color: transparent;
  box-shadow: 0px 8px 51px -8px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
#letest-project-3 .card:hover {
  background: white;
}
#letest-project-3 .card:hover a {
  color: #ff5e14;
  opacity: 1;
}
#letest-project-3 .project-img {
  padding: 10px 10px 0;
}
#letest-project-3 .card-title {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 25px 11px;
  border-bottom: 1px solid #d5d5d5;
}
#letest-project-3 .project-meta {
  padding: 15px 25px 13px;
  color: #242424;
}
#letest-project-3 .project-meta a {
  color: #242424;
  opacity: 0.40;
}
#letest-project-3 .project-meta i, #letest-project-3 .project-meta p {
  font-size: 15px;
}

/*
    ========================
     Project Gallery
    ========================
*/
#project-gallary .mixitup-menus .filter-btn {
  text-transform: none;
  background-color: white;
  margin: 0 3px;
  border-color: #e9e9e9;
  color: #061538;
}
#project-gallary .mixitup-menus .filter-btn:hover {
  background-color: #ff5e14;
  border-color: transparent;
  color: #061538;
}
#project-gallary .mixitup-menus .filter-btn:focus {
  box-shadow: none;
}
#project-gallary .mixitup-control-active {
  position: relative;
  color: white !important;
  font-weight: 600;
  background-color: #ff5e14 !important;
}
#project-gallary .card {
  overflow: hidden;
}
#project-gallary .card:hover .shape {
  border-bottom: 110px solid #ff5e14;
  border-right: 110px solid transparent;
  opacity: 1;
}
#project-gallary .card:hover .img-overlay {
  opacity: 1;
  transform: translateY(0);
}
#project-gallary .card:hover .img-overlay::before {
  opacity: 1;
}
#project-gallary .card:hover .categories {
  margin: 20px;
  opacity: 1;
}
#project-gallary .categories {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  transition: 0.5s;
  opacity: 0;
}
#project-gallary .shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: 0.5s;
  opacity: 0;
  border-bottom: 100px solid #ff5e14;
  border-right: 100px solid transparent;
}
#project-gallary .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #061538ad;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-10px);
}
#project-gallary .img-overlay:before {
  content: "";
  position: absolute;
  left: 26px;
  top: 26px;
  bottom: 26px;
  right: 26px;
  transition: 0.8s;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #letest-project {
    padding-bottom: 20px;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 992px) {
  #letest-project {
    padding-bottom: 55px;
  }

  #project-gallary .mixitup-menus .filter-btn {
    margin: 0 6px;
  }

  .letest_project_section .mixitup-menus button {
    margin-right: 0 !important;
    margin-left: 15px !important;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1025px) {
  #letest-project-3 {
    padding-top: 96px !important;
  }

  #letest-project {
    padding-bottom: 100px;
    padding-top: 90px;
  }

  .letest_project_section {
    padding-top: 95px !important;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1200px) {
  #letest-project {
    padding-bottom: 80px;
  }
}
/*
	========================
	Testimonials Section
	========================
*/
#testimonials {
  background: url(../img/testimonial-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#testimonials .item {
  border: 1px solid #46516a;
  padding: 20px;
}
#testimonials .testimonial-content {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}
#testimonials .testimonial-author-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}
#testimonials .owl-nav {
  margin-top: 1rem;
  text-align: center;
}
#testimonials .owl-nav i {
  line-height: 24px;
}
#testimonials .owl-nav button {
  border: 1px solid #838998;
  color: white;
  width: 25px;
  height: 25px;
  margin: 5px;
  transition: 0.5s;
}
#testimonials .owl-nav button:hover {
  border-color: #ff5e14;
  background-color: #ff5e14;
}

/*
    ========================
    Testimonials 2 Section
    ========================
*/
#testimonials-2 {
  background: #f4f4f4;
}
#testimonials-2 .testimonial-author-img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
#testimonials-2 .testimonial-content {
  background: #fff;
  text-align: left;
  padding: 24px 30px;
  position: relative;
}
#testimonials-2 .testimonial-content:before {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  background: url("../img/arow.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 40px;
  width: 66px;
  transform: translateX(-50%);
}
#testimonials-2 .testimonial-author-name {
  font-weight: 700;
  font-size: 18px;
}
#testimonials-2 .testimonial-author-subtitle {
  font-size: 15px;
}
#testimonials-2 .owl-dots {
  text-align: center;
  margin-top: 20px;
}
#testimonials-2 .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid #4b566f;
  border-radius: 100%;
  margin: 0 5px;
}
#testimonials-2 .owl-dots .active {
  background: #ff5e14;
  border-color: #ff5e14;
}

/*
    ========================
    Testimonials 3 Section
    ========================
*/
#testimonials-3 {
  background: url("../img/testimonials-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#testimonials-3 .owl-item {
  padding-top: 30px;
}
#testimonials-3 .item {
  border: 1px solid #3d485f;
  border-radius: 5px;
}
#testimonials-3 .item-content {
  transform: translateY(-32px);
}
#testimonials-3 .testimonial-author-img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
#testimonials-3 .testimonial-content {
  padding: 3px;
}
#testimonials-3 .testimonial-author-name {
  font-weight: 500;
  font-size: 18px;
}
#testimonials-3 .testimonial-author-subtitle {
  font-size: 15px;
}
#testimonials-3 .quotation {
  margin-top: 15px;
}
#testimonials-3 .quotation img {
  width: auto;
  margin: 0 auto;
}
#testimonials-3 .owl-nav {
  display: block;
  margin-top: 20px;
  text-align: center;
}
#testimonials-3 .owl-nav i {
  transform: translateY(2px);
  color: #90929b;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
#testimonials-3 .owl-nav button {
  border: 1px solid #90929b;
  color: white;
  width: 40px;
  height: 40px;
  margin: 5px;
  transition: 0.5s;
  border-radius: 100%;
}
#testimonials-3 .owl-nav button:last-child {
  margin: 0;
}
#testimonials-3 .owl-nav button:hover {
  border-color: #ff5e14;
  background-color: #ff5e14;
}
#testimonials-3 .owl-nav button:hover i {
  color: white;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #testimonials {
    position: relative;
  }
  #testimonials .owl-nav {
    position: absolute;
    top: -60px;
    right: 0;
    margin: 0;
  }
}
/********************************************/
/********************************************/
@media (min-width: 992px) {
  #testimonials .item {
    padding: 45px 40px;
  }
  #testimonials .owl-nav {
    top: -90px;
  }

  #testimonials-2 .owl-dots {
    margin-top: 50px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1025px) {
  #testimonials {
    padding-bottom: 100px;
    padding-top: 90px;
  }
  #testimonials .owl-nav {
    top: -100px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1380px) {
  #testimonials-3 .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    justify-content: space-between !important;
    display: flex;
  }
  #testimonials-3 .owl-prev {
    transform: translateX(-80px);
  }
  #testimonials-3 .owl-next {
    transform: translateX(80px);
  }
}
/********************************************/
/********************************************/
@media (min-width: 1380px) {
  #testimonials-3 .owl-prev {
    transform: translateX(-80px);
  }
  #testimonials-3 .owl-next {
    transform: translateX(80px);
  }
}
/********************************************/
/********************************************/
@media (min-width: 1480px) {
  #testimonials-3 .owl-prev {
    transform: translateX(-236px);
  }
  #testimonials-3 .owl-next {
    transform: translateX(236px);
  }
}
/*
	===========================
	Quote & Questions Section
	===========================
*/
#homeFaq .section-title {
  margin-bottom: 11px;
}
#homeFaq textarea {
  height: 123px !important;
  resize: none;
}
#homeFaq .form-control {
  height: auto;
  padding: 7px 10px;
}
#homeFaq .form-control:focus {
  box-shadow: none;
  border-color: #ff5e14;
}
#homeFaq .quote-form {
  margin-top: 12px;
  margin-bottom: 18px;
}
#homeFaq .quote-content p {
  font-size: 15px;
  margin: 0;
  line-height: 25px;
  display: inline;
}
#homeFaq .quote-content span {
  font-weight: 600;
}
#homeFaq .accordion {
  box-shadow: 0px 0px 54px #3738361f;
}
#homeFaq .accordion .card {
  border: 0;
  border-bottom: 1px solid #eeeeee;
}
#homeFaq .accordion .card:last-child {
  border: 0;
}
#homeFaq .accordion .card:hover .accordion-icon {
  background: #ff5e14;
  color: white;
}
#homeFaq .accordion .collapsed .accordion-icon {
  background: #eeeeee;
  color: #061538;
}
#homeFaq .accordion .btn {
  padding: 5px 20px 0;
  white-space: unset;
  background: white;
  border-color: white;
}
#homeFaq .accordion .btn-link:hover, #homeFaq .accordion .btn-link:active, #homeFaq .accordion .btn-link:focus {
  text-decoration: none;
}
#homeFaq .accordion .card-header {
  border-bottom: 0;
  box-shadow: none;
}
#homeFaq .accordion .accordion-icon {
  width: 33px;
  height: 33px;
  background: #ff5e14;
  color: white;
  transition: 0.5s;
  display: none !important;
}
#homeFaq .accordion .accordion-title {
  font-size: 16px;
  text-transform: none;
  line-height: 1;
  font-weight: 600;
  color: #061538;
  padding: 15px 0;
}
#homeFaq .accordion .card-body {
  padding-left: 21px;
  padding-top: 0;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #homeFaq .accordion .accordion-icon {
    display: flex !important;
  }
  #homeFaq .accordion .card-body {
    padding-left: 60px;
    padding-right: 50px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 962px) {
  #homeFaq {
    padding-bottom: 58px;
  }
  #homeFaq .accordion .card-body {
    padding-left: 80px;
    padding-right: 40px;
  }
  #homeFaq .quote-content p {
    display: inline-block;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1024px) {
  #homeFaq .btn {
    padding: 24px !important;
  }
  #homeFaq .accordion-title {
    font-size: 18px !important;
    line-height: 40px !important;
    padding: 0 !important;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1025px) {
  #homeFaq {
    padding-top: 90px;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1200px) {
  .home-1 #homeFaq {
    padding-bottom: 102px;
  }
}
/*
	========================
	Blog Section Style
	========================
*/
#blog {
  overflow: hidden;
}
#blog a:hover {
  color: #ff5e14 !important;
}
#blog .owl-stage-outer {
  overflow: unset;
}
#blog .owl-stage-outer .owl-item {
  transition: 0.5s;
  opacity: 0;
}
#blog .owl-stage .active {
  opacity: 1;
  transition: 0.5s;
}
#blog .card {
  border-color: #dedede;
  overflow: hidden;
  transition: 0.5s;
  /***************************************/
  /***************************************/
}
#blog .card:hover {
  box-shadow: 0px 6px 18px #3738362b;
  border-color: transparent;
}
#blog .card:hover .author a,
#blog .card:hover .read-more,
#blog .card:hover .entry-title {
  color: #ff5e14 !important;
}
#blog .card:hover .read-more i {
  opacity: 1;
}
#blog .card:hover .img-overlay {
  opacity: 1;
  transform: translateY(0);
}
#blog .card:hover .img-overlay::before {
  opacity: 1;
}
#blog .card .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-10px);
}
#blog .card .img-overlay:before {
  content: "";
  position: absolute;
  left: 26px;
  top: 26px;
  bottom: 26px;
  right: 26px;
  transition: 0.8s;
}
#blog .entry-meta {
  line-height: 1;
  margin-bottom: 15px;
}
#blog .entry-meta a {
  color: #242424;
  font-size: 15px;
}
#blog .entry-meta a:hover {
  color: #ff5e14 !important;
}
#blog .entry-meta .author {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #c8c8c8;
}
#blog .entry-title {
  font-size: 18px;
  line-height: 24px;
  color: #061538;
  font-weight: 600;
}
#blog .entry-content {
  margin: 8px 0 0;
}
#blog .entry-meta-footer {
  padding: 10px 0 0;
  border-top: 1px solid #dedede;
}
#blog .article-content {
  padding: 22px 15px 15px;
}
#blog .entry-meta-footer {
  padding: 18px 15px 15px;
}
#blog .entry-meta-footer a {
  color: #242424 !important;
  font-size: 15px;
}
#blog .entry-meta-footer .read-more {
  font-weight: 500;
}
#blog .entry-meta-footer .read-more i {
  opacity: 0;
  transition: 0.5s;
}
#blog .owl-nav {
  margin-top: 1rem;
  text-align: center;
}
#blog .owl-nav i {
  color: #061538;
  font-weight: 600;
  line-height: 24px;
}
#blog .owl-nav button {
  border: 1px solid #838998;
  color: white;
  width: 25px;
  height: 25px;
  margin: 5px;
  transition: 0.5s;
}
#blog .owl-nav button:last-child {
  margin: 0;
}
#blog .owl-nav button:hover {
  border-color: #ff5e14;
  background-color: #ff5e14;
}
#blog .owl-nav button:hover i {
  color: white;
}
#blog .sidebar-recent-blog-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 13px;
}
#blog .recent-blog .recent-block {
  margin-bottom: 20px;
}
#blog .recent-blog .recent-block:last-child {
  margin-bottom: 0;
}
#blog .recent-blog .recent-blog-title,
#blog .recent-blog .recent-blog-date {
  font-size: 15px;
}
#blog .recent-blog .recent-blog-title {
  font-weight: 500;
  color: #242424;
}
#blog .recent-blog .recent-blog-date {
  font-weight: 600;
}
#blog .categories li {
  margin-bottom: 5px;
}
#blog .categories li:hover a {
  color: #ff5e14;
}
#blog .categories a {
  color: #242424;
}
#blog .tag .btn {
  padding: 12px 18px 9px;
  margin: 3px 3px 6px;
  font-size: 15px;
  text-transform: none;
  background: transparent;
  border: 1px solid #e9e9e9;
  color: #242424;
}
#blog .pagination_waper .page-link:hover {
  color: white !important;
}
#blog .blog-mata i {
  margin-right: 8px;
}
#blog .blog-mata a {
  color: #242424;
}
#blog .blog-mata li {
  margin-right: 15px;
  padding-right: 15px;
  position: relative;
}
#blog .blog-mata li:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background: #919191;
}
#blog .blog-mata li:last-child:before {
  width: 0;
}
#blog .blog-inner-tag {
  border-top: 1px solid #dedede;
}
#blog .blog-inner-tag .tags-list a {
  color: #242424;
  margin-left: 5px;
}
#blog .blog-inner-tag .social-media a {
  background: #e9e9e9;
  border-color: #e9e9e9;
}
#blog .blog-inner-tag .social-media a:hover {
  color: white !important;
}
#blog .blog-comment-area .form-control {
  padding: 11px 20px 9px;
  height: auto;
}
#blog .blog-comment-area .comment-title {
  font-size: 22px;
  font-weight: 600;
}
#blog .blog-comment-area .form-control:focus {
  box-shadow: none;
  border-color: #ff5e14;
}
#blog .blog-title {
  font-size: 22px;
  font-weight: 600;
}

/*
    ========================
    Blog 2 Style
    ========================
*/
.blog-2 {
  overflow: hidden;
}
.blog-2 #blog-list-2 .blog-img {
  position: relative;
}
.blog-2 #blog-list-2 .blog-img .overlay-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 10;
}
.blog-2 #blog-list-2 .blog-img a {
  background: white;
  border-color: white;
  color: #061538;
}
.blog-2 #blog-list-2 .entry-title {
  font-weight: 700;
}
.blog-2 #blog-list-2 .card {
  border-color: transparent;
}
.blog-2 #blog-list-2 .card:hover .author a {
  color: #061538 !important;
}
.blog-2 #blog-list-2 .card:hover .entry-meta-footer a {
  color: #061538 !important;
}
.blog-2 #blog-list-2 .owl-stage-outer {
  overflow: unset;
}
.blog-2 #blog-list-2 .owl-stage-outer .owl-item {
  transition: 0.5s;
  opacity: 0;
}
.blog-2 #blog-list-2 .owl-stage .active {
  margin-right: 0 !important;
  opacity: 1;
  transition: 0.5s;
}
.blog-2 #blog-list-2 .item {
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.5s;
}
.blog-2 #blog-list-2 .item:hover {
  box-shadow: 0px 0px 54px #3738361f;
}
.blog-2 #blog-list-2 .item:hover .blog-img a {
  background: #ff5e14;
  border-color: #ff5e14;
  color: white !important;
}
.blog-2 #blog-list-2 .owl-nav {
  display: none;
}

/***************************************/
/***************************************/
.blog-page .card {
  border: 0;
  transition: 0.5s;
  box-shadow: 0px 0px 13px -2px #04040440;
}
.blog-page .card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 13px 0px #04040440;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #blog {
    position: relative;
  }
  #blog .owl-nav {
    position: absolute;
    top: -60px;
    right: 0;
    margin: 0;
  }

  .blog-2 #blog-list-2 .owl-nav {
    display: block;
  }
}
/********************************************/
/********************************************/
@media (min-width: 992px) {
  #blog .owl-nav {
    top: -90px;
  }
  #blog .blog-title {
    font-size: 24px;
  }
  #blog .blog-comment-area .comment-title {
    font-size: 24px;
  }

  .blog-2 #blog-list-2 .entry-title {
    font-size: 24px;
    line-height: 32px;
  }
  .blog-2 #blog-list-2 .article-content {
    padding: 0 0 15px !important;
  }
  .blog-2 #blog-list-2 .card-body {
    padding: 30px 30px 0 !important;
  }
}
/********************************************/
/********************************************/
@media (min-width: 992px) {
  .blog-2 {
    padding-bottom: 20px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1025px) {
  #blog {
    padding-top: 90px;
  }
  #blog .owl-nav {
    top: -100px;
  }

  .blog-2 {
    padding-bottom: 83px !important;
  }
  .blog-2 #blog-list-2 .owl-nav {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .blog-2 #blog-list-2 .owl-prev,
  .blog-2 #blog-list-2 .owl-next {
    width: 78px;
    height: 78px;
    font-size: 24px;
  }
  .blog-2 #blog-list-2 .owl-prev {
    float: left;
    margin: 0;
    transform: translateX(-100px);
  }
  .blog-2 #blog-list-2 .owl-next {
    float: right;
    transform: translateX(70px);
  }
}
/********************************************/
/********************************************/
@media (min-width: 1380px) {
  .blog #blog {
    padding: 100px 0;
  }

  .blog-2 #blog-list-2 .owl-prev {
    float: left;
    margin: 0;
    transform: translateX(-163px);
  }
  .blog-2 #blog-list-2 .owl-next {
    float: right;
    transform: translateX(132px);
  }
}
/*
	===========================
	Sponsored Section
	===========================
*/
#sponsored {
  border-top: 1px solid #dedede;
  padding: 20px 0;
}
#sponsored .sponsored-img {
  display: block;
  margin: 0 auto 20px;
}
#sponsored .sponsored-img:last-child {
  margin-bottom: 0;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #sponsored {
    padding: 40px 0;
  }
  #sponsored .sponsored-img {
    display: inline-block;
  }
}
/********************************************/
/********************************************/
@media (min-width: 962px) {
  #sponsored {
    padding: 40px 0;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1200px) {
  #sponsored {
    padding-top: 44px;
    padding-bottom: 45px;
  }
}
/*
	========================
	Subscription Section
	========================
*/
#subscription {
  background-color: #0b0b0b;
  padding: 35px 0;
}
#subscription .btn {
  border-radius: 6px;
}
#subscription .form-control {
  border-radius: 5px;
  border-color: transparent;
  height: auto;
  line-height: 15px;
  font-size: 15px;
  font-weight: 400;
  color: #242424;
}
#subscription .form-control:focus {
  outline: none;
  border-color: #ced4da;
  box-shadow: none;
}

/*******************************************/
/********************************************/
@media (min-width: 768px) {
  #subscription .btn {
    border-radius: 6px;
    font-size: 15px;
    line-height: 1;
    padding: 16px 51px 12px;
    text-transform: uppercase;
    font-weight: 600;
  }
  #subscription .form-control {
    padding: 9px 24px;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 768px) {
  #subscription .from-element {
    padding-right: 20px !important;
  }
  #subscription .from-element:last-child {
    padding-right: 0 !important;
  }
}
/*******************************************/
/********************************************/
@media (max-width: 575.98px) {
  #subscription {
    padding: 20px 0;
  }
}
/*
	========================
	Management Team
	========================
*/
#team-area .team-item {
  margin-bottom: 1rem !important;
}
#team-area .card {
  transition: 0.5s;
}
#team-area .card .card-title {
  font-size: 22px;
  font-weight: 600;
  color: #061538;
}
#team-area .card .card-text {
  color: #242424;
  font-size: 15px;
}
#team-area .card .card-body {
  padding: 15px 10px;
}
#team-area .card .team-thumb:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #06153875;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#team-area .card .team-social {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#team-area .card .team-social a {
  color: white;
  border: 1px solid white;
  padding: 9px;
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
#team-area .card:hover {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
#team-area .card:hover .team-thumb:after {
  height: 100%;
  visibility: visible;
  opacity: 1;
}
#team-area .card:hover .team-social {
  bottom: 15px;
  visibility: visible;
  opacity: 1;
}
#team-area .card .ct-twitter:hover {
  background: #1da1f2;
  border-color: #1da1f2;
  color: white;
}
#team-area .card .ct-facebook:hover {
  background: #3b5998;
  border-color: #3b5998;
  color: white;
}
#team-area .card .ct-instagram:hover {
  background: #fd1d1d;
  border-color: #fd1d1d;
  color: white;
}
#team-area .card .ct-skype:hover {
  background: #00aff0;
  border-color: #00aff0;
  color: white;
}
#team-area .card .ct-linkedin:hover {
  background: #0274b3;
  border-color: #0274b3;
  color: white;
}

/*******************************************/
/********************************************/
@media (min-width: 768px) {
  #team-area .team-item:nth-last-child(-n+2) {
    margin-bottom: 0 !important;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 992px) {
  #team-area .team-item {
    margin-bottom: 1.5rem !important;
  }
  #team-area .card .card-title {
    font-size: 24px;
  }
  #team-area .team-item:nth-last-child(-n+4) {
    margin-bottom: 0 !important;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1025px) {
  .team-area-3 {
    padding-top: 95px !important;
  }
}
/*
	========================
		404 Page
	========================
*/
#error_404 {
  background-image: url(../img/error_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#error_404 .error_content img {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
#error_404 .error_content p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 30px;
}

/*
	========================
		Single Project
	========================
*/
#project_single .single_project_widgets {
  background-color: #f2f2f2;
}
#project_single .single_project_widgets ul {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
#project_single .single_project_widgets ul li {
  font-size: 18px;
  padding: 0 0;
  margin-bottom: 10px;
}
#project_single .single_project_widgets ul li:last-child {
  margin-bottom: 0px;
}
#project_single .single_project_widgets a {
  color: #061538;
}
#project_single .single_project_widgets a:hover {
  color: #ff5e14;
}
#project_single .project-info h1 {
  font-size: 22px;
  color: #061538;
}
#project_single .project-info p {
  font-size: 15px;
  line-height: 25px;
}
#project_single .social-media {
  padding: 12px 35px;
}
#project_single .social-media a {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #595959;
  margin-right: 20px;
  color: #868686;
}
#project_single .social-media a:last-child {
  margin: 0;
}
#project_single .social-media .ct-twitter:hover {
  background: #00aff0 !important;
  border-color: #00aff0 !important;
  color: white;
}
#project_single .social-media .ct-facebookr:hover {
  background: #3b5998 !important;
  border-color: #3b5998 !important;
  color: white;
}
#project_single .social-media .ct-instagramr:hover {
  background: #fd1d1d !important;
  border-color: #fd1d1d !important;
  color: white;
}
#project_single .social-media .ct-skype:hover {
  background: #00aff0 !important;
  border-color: #00aff0 !important;
  color: white;
}

/********************************************/
/********************************************/
@media (min-width: 1024px) {
  #project_single .single_project_widgets ul {
    padding: 40px;
  }
  #project_single .project-info h1 {
    font-size: 36px;
  }
}
/*
	========================
		About Page Style
	========================
*/
.about-faq {
  padding: 20px 0 15px;
}
.about-faq .about-right-title {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 4px;
}
.about-faq .about-faq-content {
  margin-top: 5px;
}
.about-faq .content-img {
  margin-bottom: 20px;
}

#why-chose {
  padding: 20px 0 0;
}
#why-chose .sub-title {
  font-size: 18px;
  font-weight: 600;
}
#why-chose .barfiller {
  width: 100%;
  height: 15px;
  padding: 2px;
  background: white;
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 20px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}
#why-chose .barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #ff5e14 !important;
  z-index: 1;
}
#why-chose .barfiller .fill:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  background: #fff;
  width: 0;
  height: 0;
  border-top: 9px solid #ff5e14;
  border-right: 10px solid transparent;
}
#why-chose .barfiller .tipWrap {
  display: none;
}
#why-chose .barfiller .tip {
  margin-top: 10px;
  padding: 2px 4px;
  font-size: 11px;
  color: #061538;
  left: 0px;
  position: absolute;
  z-index: 2;
  font-weight: 700;
  transform: translateX(8px);
}
#why-chose .barfiller .tip:after {
  border: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9;
  opacity: 0;
}
#why-chose .skills {
  margin-bottom: 55px;
}
#why-chose .skill-title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}

/*******************************************/
/********************************************/
@media (max-width: 766.98px) {
  #homeFaq .about-right-title {
    margin-top: 0;
  }
  #homeFaq .content {
    margin: 0;
  }

  #why-chose .skills {
    margin-bottom: 37px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 768px) {
  #homeFaq.about-faq {
    padding: 40px 0 25px;
  }

  #inspiring {
    padding: 40px 0 34px;
  }

  #why-chose {
    padding: 40px 0 18px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1200px) {
  #homeFaq.about-faq {
    padding: 100px 0;
  }

  #why-chose {
    padding: 90px 0 71px;
  }

  #team-area {
    padding: 100px 0 80px;
  }
}
/*
	========================
	Our Services
	========================
*/
#serives_tab .about-faq {
  padding: 0;
}
#serives_tab .list-group-item-action {
  color: #061538;
  font-size: 18px;
}
#serives_tab .list-group-item {
  background-color: #f4f4f4;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-weight: 600;
}
#serives_tab .list-group-item:first-child {
  border-top: 0;
}
#serives_tab .list-group-item:hover {
  background-color: #061538;
  color: #fff;
}
#serives_tab .list-group-item.active {
  color: #fff;
  background-color: #061538;
  border-color: transparent;
}
#serives_tab .list-group-item.active:before {
  position: absolute;
  content: "";
  border-right: 5px solid #ff5e14;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}
#serives_tab .services-right-title {
  font-size: 36px;
  line-height: 28px;
  color: #061538;
  margin: 28px 0 20px 0;
  font-weight: 600;
}
#serives_tab .sub-title {
  font-size: 24px;
  line-height: 28px;
  color: #061538;
  font-weight: 600;
}
#serives_tab .sub-title-media {
  font-size: 18px;
  line-height: 28px;
  color: #061538;
  font-weight: 600;
}
#serives_tab .border-top {
  border-top: 2px solid #f4f4f4;
  padding-top: 20px;
}
#serives_tab .download-brochures {
  background-color: #061538;
  color: #fff;
}
#serives_tab .download-icon {
  max-width: 26px;
  width: 100%;
}
#serives_tab .contact-service {
  background-color: #ff5e14;
  color: #fff;
  padding: 40px 30px;
}
#serives_tab .contact-service h3 {
  font-size: 18px;
}
#serives_tab .contact-service .fw-size {
  font-size: 20px;
  transform: translateY(5px);
  margin-right: 10px;
}

@media (max-width: 1024px) {
  #serives_tab .services-right-title {
    font-size: 32px;
  }
  #serives_tab .sub-title {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  #serives_tab .services-right-title {
    font-size: 22px;
    margin: 16px 0 10px;
  }
  #serives_tab .sub-title {
    font-size: 22px;
  }
  #serives_tab .contact-service {
    padding: 20px 20px;
  }
}
/*******************************************/
/********************************************/
@media (min-width: 1200px) {
  #serives_tab .border-top {
    padding-top: 50px;
    margin-top: 27px;
  }
}
/*******************************************/
/********************************************/
.project_single {
  padding: 40px 0;
}

/*
	========================
		Contact Page
	========================
*/
#contact-page textarea:focus,
#contact-page input:focus {
  border-color: #ff5e14;
  box-shadow: none;
}
#contact-page .contact_address {
  border: 1px solid #ddd;
  padding: 20px;
}
#contact-page .contact_address .title h1 {
  font-size: 24px;
  line-height: 1;
}
#contact-page .contact_address .title h4 {
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
}
#contact-page .contact_address .contact-media {
  padding: 31px 0;
}
#contact-page .contact_address .border-bottom {
  border-bottom: 1px solid #ddd;
}
#contact-page .media-body h5 {
  font-size: 18px;
}

#map-area {
  padding: 0 !important;
}
#map-area #contact-map {
  height: 600px;
}

/********************************************/
/********************************************/
@media (min-width: 992px) {
  #contact-page .contact_address {
    padding: 35px 40px 25px 40px;
  }
}
/*
	========================
	Company Section
	========================
*/
#company {
  background: #f9f9f9;
  background-position: left;
  background-size: auto 100%;
}
#company .company-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
#company .company-featured {
  margin-top: 15px;
}
#company .sub-title {
  font-size: 18px;
  font-weight: 600;
}
#company .media {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 2px dashed #ececec;
}
#company .media:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #company {
    background: url("../img/company-bg.png") no-repeat #f9f9f9;
    background-position: left;
    background-size: auto 100%;
  }
  #company .company-title {
    font-size: 24px;
    margin-bottom: 22px;
  }
  #company .company-featured {
    margin-top: 25px;
  }
  #company .media {
    padding-bottom: 20px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 992px) {
  #company {
    padding: 43px 0;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1025px) {
  #company {
    padding: 98px 0;
  }
}
/*
	========================
	Request Section
	========================
*/
#request .request-form {
  padding: 20px;
  border: 5px solid #f8f8f8;
}
#request .form-control {
  font-size: 15px;
  border-color: #e9e9e9;
}
#request .form-control:focus {
  border-color: #e9e9e9;
  box-shadow: none;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #request .request-form {
    margin-bottom: 98px !important;
  }
}
/********************************************/
/********************************************/
@media (min-width: 991px) {
  #request {
    padding: 40px 0 0;
  }
  #request .request-form {
    padding: 40px 20px;
  }
  #request .form-control {
    padding: 15px;
    height: auto;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1025px) {
  #request {
    padding: 96px 0 0;
  }
}
/*
	========================
		FAQ Section
	========================
*/
#faq_content .card-header {
  padding: 20px 20px 17px 20px;
  background-color: transparent;
  border-bottom: 0;
  cursor: pointer;
}
#faq_content .card-header a {
  font-size: 18px;
  color: #061538;
  font-weight: 500;
}
#faq_content .card-header:first-child {
  border-radius: 0;
}
#faq_content .card-header:after {
  font-family: 'FontAwesome';
  content: "\f01b";
  float: right;
  font-size: 18px;
  color: #ff5e14;
}
#faq_content .card-header.collapsed:after {
  content: "\f01a";
  font-size: 18px;
  color: #061538;
}
#faq_content .card {
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}
#faq_content .card-body {
  padding: 0 25px 25px 25px;
}

.faq_text_area {
  height: 182px !important;
}

#ask_questions {
  background-color: #f4f4f4;
}
#ask_questions textarea,
#ask_questions input {
  background-color: #f4f4f4;
}
#ask_questions textarea:focus,
#ask_questions input:focus {
  border-color: #ff5e14;
  box-shadow: none;
}
#ask_questions .btn {
  text-transform: none;
}

/*
	========================
	Inspiring Section
	========================
*/
#questions {
  background: #f4f4f4;
  padding: 0;
}
#questions .block-left,
#questions .block-right {
  padding: 20px 15px;
}
#questions .block-left {
  background: #f8f8f8;
}
#questions .accordion .card {
  border: 0;
  background: transparent;
}
#questions .accordion .card:last-child {
  border: 0;
}
#questions .accordion .card:hover .accordion-icon {
  background: #ff5e14;
  color: white;
}
#questions .accordion .card-header {
  background: transparent;
}
#questions .accordion .collapsed .accordion-icon {
  background: #eeeeee;
  color: #061538;
}
#questions .accordion .btn {
  padding-bottom: 0;
  padding-top: 0;
  white-space: unset;
  background: transparent;
  border-color: transparent;
  border-top-color: #e2e2e2;
}
#questions .accordion .btn-link:hover, #questions .accordion .btn-link:active, #questions .accordion .btn-link:focus {
  text-decoration: none;
}
#questions .accordion .card-header {
  border-bottom: 0;
  box-shadow: none;
}
#questions .accordion .accordion-icon {
  width: 33px;
  height: 33px;
  background: #ff5e14;
  color: white;
  transition: 0.5s;
  display: none !important;
}
#questions .accordion .accordion-title {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: #061538;
  padding: 15px 0;
}
#questions .accordion .card-body {
  padding-left: 20px;
}
#questions .process_count {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1;
}
#questions .featured-item-title {
  font-size: 20px;
  font-weight: 600;
}
#questions .featured-content {
  margin: 0;
}
#questions .featured-item-box {
  padding-bottom: 10px;
}
#questions .featured-item-box:nth-last-child(-n+1) {
  padding-bottom: 0;
}

/********************************************/
/********************************************/
@media (min-width: 768px) {
  #questions {
    padding: 20px 0 5px;
  }
  #questions .featured-item-box:nth-last-child(n+3) {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 992px) {
  #questions {
    padding: 0;
  }
  #questions .block-left,
  #questions .block-right {
    padding: 37px 15px 20px;
  }
  #questions .home3-base-title {
    text-align: left !important;
  }
  #questions .process_count {
    font-size: 60px;
    margin-bottom: 0;
  }
  #questions .featured-item-box:nth-last-child(n+3) {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
/********************************************/
/********************************************/
@media (min-width: 1025px) {
  #questions .block-left, #questions .block-right {
    padding-top: 95px;
    padding-bottom: 83px;
  }
  #questions .featured-item-box {
    text-align: left !important;
  }
  #questions .featured-item-box .featured-item-title {
    margin-bottom: 20px;
  }
  #questions .featured-item-box:nth-last-child(n+3) {
    margin-bottom: 45px;
    padding-bottom: 45px;
  }
}

/*# sourceMappingURL=style.css.map */
