/**
 * ---------------------------------------------------------------------------
 * 01. Base Styles.
 * ---------------------------------------------------------------------------
 */

body{
    font-family: $base-font;
    font-size: 15px;
    line-height: 25px;
    color: $text;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: $base-font;
}

a{
    transition: 0.5s;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

button{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

/*
	=================================
  		Global Class
	=================================
*/
.btn{
    text-transform: uppercase;
    font-weight: 600;
}
section{
    padding: 20px 0;
}
.activeColor{
    color: $activeColor;
}
.activeBg{
    background-color: $activeColor;
}

.btn{
    border-radius: 0;
    padding: 15px 28px 12px;
    background-color: $activeColor;
    border-color: $activeColor;
    line-height: 1;
    &:hover{
        background-color: #061538;
        border-color: #061538;
    }
}

.activeBorder{
    background-color: transparent;
    border-color: $activeColor;
}

.section-title{
    margin-bottom: 20px;
    .sub-title{
        font-size: 16px; // Desktop 24px
        font-weight: 400;
    }
    .main-title{
        font-size: 22px; // Desktop 36px
        font-weight: 700;
    }
}

.home3-base-title{
    // margin-bottom: 20px;
    .stock{
        margin-top: 10px;
    }
    .sub_title{
        font-size: 16px; // Desktop 24px
        font-weight: 400;
    }
    .section-title{
        font-size: 22px; // Desktop 36px
        font-weight: 700;
    }
}

#page_title{
    background-image: url(../img/market-sectors-title-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
    .page_tittle{
        font-size: 22px;
        line-height: 18px;
        font-weight: 700;
    }
}


.bread_crumb{
    a{
        font-size: 15px;
        line-height: 25px;
        color:#fff;
        &:hover{
            color: $activeColor;
        }    
    }
}
.pagination_waper{
    padding-top: 25px;
    .page-link{
        font-size: 18px;
        line-height: 40px;
        border: 1px solid #24242425;
        font-weight: 600;
        // padding: 23px 25px;
        // line-height: 60px;
    }
    .page-link:hover{
        background-color: $activeColor;
        border-color: $activeColor;
        color: $white !important;
    }
    .activeborder{
        border-color: $activeColor;
    }
}

#all_to_action{
    background-image: url(../img/call_to_action_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    .call_left {
        margin-bottom: 15px;
        h2{
            // font-size:36px;
            // line-height:40px;
            font-size: 22px;
            display: inline;
        }
    }
    .ct-cat-button{
        // font-size: 24px;
        // line-height: 1;
        // padding: 18px 40px 15px;
        // font-weight: 600;
    }
}

.overflow-hidden{
    overflow: hidden;
}

.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $activeColor;
    z-index: 10;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 100%;
    i{
        font-size: 30px;
        color: $white;
    }
}

.overflowhidden{
    overflow: hidden;
}
/*
	=================================
  		Social Media Colors
	=================================
*/

.facebook{
    color: $facebook;
}
.twitter{
    color: $twitter;
}
.skype{
    color: $skype;
}
.vine{
    color: $vine;
}

/*
    =================================
        Blog Search Class
    =================================
*/
.search-form{
    .form-group{
        border: 1px solid #24242460;
        padding-top: 11px;
        padding-bottom: 8px;
        padding-left: 22px;
        padding-right: 20px;
    }
    .form-control{
        font-size: 18px;
        height: auto;
        &:focus{
            box-shadow: none;
        }
    }
    .btn{
        background: transparent;
        border-color: transparent;
        color: #24242460;
        &:hover{
            color: $activeColor;
        }
        &:active{
            background-color: transparent !important;
            border-color: transparent !important;
            color: #24242460 !important; 
        }
        &:focus{
            background: none;
            box-shadow: none;
        }
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
        box-shadow: none;
    }
}

/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
    section{
        padding: 40px 0;
    }
    #all_to_action{
        text-align: left;
    }
    .pagination_waper{
        .page-link{
            padding: 20px;
            line-height: 40px;
        }
    }
    #all_to_action {
        .call_left{
            margin-bottom: 0;
        }
    }
}

/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
    section{
        padding: 40px 0;
    }
    .svg-size-title{
        width: 48px; // Desktop 38px
        height: 56px; // Desktop 38px
    }
    .section-title{
        margin-bottom: 40px;
        .sub-title{
            font-size: 20px; // Desktop 24px
        }
        .main-title{
            font-size: 32px; // Desktop 36px
            line-height: 1;
        }
    }
    #all_to_action {
        .call_left {
            margin-bottom: 0;
            h2{
                display: inline-block;
                font-size:32px;
                line-height:40px;
            }
        }
        .ct-cat-button{
            font-size: 1rem;
            line-height: 1;
            padding: 18px 40px 15px;
            font-weight: 600;
        }
    }
    #page_title{
        .page_tittle{
            padding: 50px 0;
            font-size: 30px;
        }
    }
    .bread_crumb {
        a{
            font-size: 18px;
        }
    }
    .pagination_waper{
        .page-link{
            padding: 23px 20px;
            line-height: 45px;
        }
    }
    .home3-base-title {
        .section-title{
            font-size: 36px;
        }
    }
}

/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 1025px) {
    section{
        padding: 99px 0;
    }

    .home3-base-title{
        .sub_title{
            font-size: 24px; // Desktop 24px
        }
    }
    .section-title{
        margin-bottom: 37px;
        .sub-title{
            font-size: 24px; // Desktop 24px
            line-height: 40px;
        }
        .main-title{
            font-size: 36px; // Desktop 36px
            line-height: 40px;
        }
    }
    
    #all_to_action {
        .call_left {
            h2{
                font-size:36px;
                line-height:40px;
            }
        }
        .ct-cat-button{
            font-size: 24px;
            line-height: 1;
            padding: 18px 40px 15px;
            font-weight: 600;
        }
    }
    #page_title{
        .page_tittle{
            padding: 60px 0 90px;
            font-size: 36px;
        }
    }
    .pagination_waper{
        .page-link{
            padding: 23px 25px;
            line-height: 60px;
        }
    }
}


/*******************************************/
// Medium devices (tablets, greater than 992px)
/********************************************/
@media (max-width: 991.98px) {
	.btn{
        font-size: 14px;
        padding: 12px 18px 10px;
    }
    .svg-icon-title{
        width: 38px; // Desktop 38px
        height: 38px; // Desktop 38px
    }
}


