/*
	============================================
		Google Font: 'Catamaran', sans-serif;
	============================================
*/
$base-font: 'Hind', sans-serif;

/*
	=================================
  		Colors
	=================================
*/
$text: #242424;
$heading: #061538;

$activeColor: #ff5e14;
$black: #000;
$white: #fff;
$light-gray: #e4e4e4;
$brand_color: #ff5252;
$light-sky: #eff4f7;


/*
	=================================
  		Social Media Colors
	=================================
*/
$facebook: #3b5998;
$twitter: #1da1f2;
$skype: #00aff0;
$linkedin: #0077b5;
$vine: #00b488;
$linkedin: #0274B3;
$instagram: #fd1d1d;