/*
	========================
		404 Page
	========================
*/

#error_404{
	background-image: url(../img/error_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	.error_content{
		img{
			max-width:600px;
			width: 100%;
			margin:auto;
		}
		p{
			font-size:18px;
			font-weight:500;
			margin-top: 60px;
			margin-bottom: 30px;
		}
	}
}