/*
	========================
		About Page Style
	========================
*/

.about-faq{
	padding: 20px 0 15px;
	.about-right-title{
		font-size:18px;
		line-height: 1.2;
		margin-top: 30px;
		margin-bottom: 4px;
	}
	.about-faq-content{
		margin-top: 5px;
	}
	.content-img{
		margin-bottom: 20px;
	}
}

#why-chose{
    padding: 20px 0 0;
	.sub-title{
		font-size: 18px;
		font-weight: 600;
	}

	// line Progressbar Style
	// https://www.jqueryscript.net/chart-graph/Responsive-Animated-Progress-Bar-With-jQuery-CSS3-Barfiller-js.html
	.barfiller {
	  width: 100%;
	  height: 15px;
      padding: 2px;
	  background: $white;
	  border: 1px solid #ccc;
	  position: relative;
	  margin-bottom: 20px;
	  // box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
	  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
	}

	.barfiller .fill {
	  display: block;
	  position: relative;
	  width: 0px;
	  height: 100%;
	  background: $activeColor !important;
	  z-index: 1;
	  &:before{
	  	content: "";
	  	position: absolute;
  	    right: 0px;
	  	top: 0;
	  	background: #fff;
		width: 0;
		height: 0;
		border-top: 9px solid $activeColor;
		border-right: 10px solid transparent;
	  }
	}

	.barfiller .tipWrap { display: none; }

	.barfiller .tip {
	  margin-top: 10px;
	  padding: 2px 4px;
	  font-size: 11px;
	  color: $heading;
	  left: 0px;
	  position: absolute;
	  z-index: 2;
	  // background: #333;
	  font-weight: 700;
      transform: translateX(8px);
	}

	.barfiller .tip:after {
	  border: solid;
	  border-color: rgba(0,0,0,.8) transparent;
	  border-width: 6px 6px 0 6px;
	  content: "";
	  display: block;
	  position: absolute;
	  left: 9px;
	  top: 100%;
	  z-index: 9;
	  opacity: 0;
	}
	.skills{
		margin-bottom: 55px;
	}
	.skill-title{
		font-size: 15px;
		font-weight: 600;
		margin-top: 5px;
	}
}


/*******************************************/
// Medium devices (tablets, greater than 992px)
/********************************************/
@media (max-width: 766.98px) {
	#homeFaq{
    	.about-right-title{
    		margin-top: 0;
    	}
	    .content{
	    	margin: 0;
	    }
    }

    #why-chose{
    	.skills{
    		margin-bottom: 37px;
    	}
    }
}




/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
	#homeFaq.about-faq{
	    padding: 40px 0 25px;
	}
	#inspiring{
		padding: 40px 0 34px;
	}
	#why-chose{
	    padding: 40px 0 18px;
	}
}



/********************************************/
// Large devices (desktops, 1200px and up)
/********************************************/
@media (min-width: 1200px) {
	#homeFaq.about-faq{
	    padding: 100px 0;
	}
	#why-chose{
		padding: 90px 0 71px;
	}
	#team-area{
	    padding: 100px 0 80px;
	}
}