/*
	========================
	Blog Section Style
	========================
*/
#blog{
    overflow: hidden;
    a{
        &:hover{
            color: $activeColor !important;
        }
    }
    .owl-stage-outer{
        overflow: unset;
        .owl-item{
            transition: 0.5s;
            opacity: 0;
        }
    }
    .owl-stage{
        .active{
            opacity: 1;
            transition: 0.5s;
        }
    }
    .card{
        border-color: #dedede;
        overflow: hidden;
        transition:0.5s;
        &:hover{
            box-shadow: 0px 6px 18px #3738362b;
            border-color: transparent;
            .author a,
            .read-more,
            .entry-title{
                color: $activeColor !important;
            }
            .read-more{
                i{
                    opacity: 1;;
                }
            }
            .img-overlay{
                opacity: 1;
                transform: translateY(0);
                &::before{
                    opacity: 1;
                }
            }
        }
        /***************************************/
        // Create Blog listing page style
        /***************************************/
        .img-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #00000066;
            opacity: 0;
            transition: 0.5s;
            transform: translateY(-10px);
            &:before{
                content: "";
                position: absolute;
                left: 26px;
                top: 26px;
                bottom: 26px;
                right: 26px;
                
                transition: 0.8s;
            }
        }
    }
    .entry-meta{
        line-height: 1;
        margin-bottom: 15px;
        a{
            color: #242424;
            font-size: 15px;
            &:hover{
                color: $activeColor !important;
            }
        }
        .author{
            margin-right: 20px;
            padding-right: 20px;
            border-right: 1px solid #c8c8c8;
        }
    }

    .entry-title{
        font-size: 18px;
        line-height: 24px;
        color: $heading;
        font-weight: 600;
    }
    .entry-content{
        margin: 8px 0 0;
    }
    .entry-meta-footer{
        padding: 10px 0 0;
        border-top: 1px solid #dedede;
    }
    .article-content{
        padding: 22px 15px 15px;
    }
    .entry-meta-footer{
        a{
            color: #242424 !important;
            font-size: 15px;
        }
        .read-more{
            font-weight: 500;
            i{
                opacity: 0;
                transition: 0.5s;
            }
        }
        padding: 18px 15px 15px;
    }

    .owl-nav{
        margin-top: 1rem;
        text-align: center;
        i{
            color: $heading;
            font-weight: 600;
            line-height: 24px;
        }
        button{
            border: 1px solid #838998;
            color: $white;
            width: 25px;
            height: 25px;
            margin: 5px;
            transition: 0.5s;
            &:last-child{
                margin: 0;
            }
            &:hover{
                border-color: $activeColor;
                background-color: $activeColor;
                i{
                    color: $white;
                }
            }
        }
    }

    // Sidebar Style
    // ============================
    .sidebar-recent-blog-title{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 13px;
    }
    .recent-blog{
        // margin-top: 50px;
        .recent-block{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .recent-blog-title,
        .recent-blog-date{
            font-size: 15px;
        }
        .recent-blog-title{
            font-weight: 500;
            color: $text;
        }
        .recent-blog-date{
            font-weight: 600
        }
    }
    .categories{
        li{
            margin-bottom: 5px;
            &:hover{
                a{
                    color: $activeColor;
                }
            }
        }
        a{
            color: $text;
        }
    }

    .tag{
        .btn{
            padding: 12px 18px 9px;
            margin: 3px 3px 6px;
            font-size: 15px;
            text-transform: none;
            background: transparent;
            border: 1px solid #e9e9e9;
            color: $text;
        }
    }


    // Blog Pagination Overwrite style
    // =================================
    .pagination_waper {
        .page-link{
            &:hover{
                color: white !important;
            }
        }
    }

    // Blog Details
    // ==================================
    .blog-mata{
        i{
            margin-right: 8px;
        }
        a{
            color: $text;
        }
        li{
            // margin-right: 23px;
            // padding-right: 23px;

            margin-right: 15px;
            padding-right: 15px;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 15px;
                background: #919191;
            }
            &:last-child{
                &:before{
                    width: 0;
                }
            }
        }
    }

    // Inner Blog Tags
    // =====================
    .blog-inner-tag{
        border-top: 1px solid #dedede;
        .tags-list{
            a{
                color: $text;
                margin-left: 5px;
            }
        }
        .social-media{
            a{
                background: #e9e9e9;
                border-color: #e9e9e9;
                &:hover{
                    color: $white !important;
                }
            }
        }
    }

    // Blog Comments
    // =====================
    .blog-comment-area{
        .form-control{
            padding: 11px 20px 9px;
            height: auto;
        }
        .comment-title{
            font-size: 22px;
            font-weight: 600;
        }
        .form-control{
            &:focus{
                box-shadow: none;
                border-color: $activeColor;
            }
        }
    }

    // blog Global class
    // ========================
    .blog-title{
        font-size: 22px;
        font-weight: 600;
    }
}

/*
    ========================
    Blog 2 Style
    ========================
*/
.blog-2{
    overflow: hidden;
    #blog-list-2{
        .blog-img{
            position: relative;
            .overlay-btn{
                position: absolute;
                bottom: 30px;
                left: 30px;
                z-index: 10;
            }
            a{
                background: $white;
                border-color: $white;
                color: $heading;
            }
        }
        .entry-title{
            font-weight: 700;
        }
        .card{
            border-color: transparent;      
            &:hover {
                .author {
                    a{
                        color: $heading !important;
                    }
                }
                .entry-meta-footer {
                    a{
                        color: $heading !important;
                    }
                }
            }
        }
        .owl-stage-outer{
            overflow: unset;
            .owl-item{
                transition: 0.5s;
                opacity: 0;
            }
        }
        .owl-stage{
            .active{
                margin-right: 0 !important;
                opacity: 1;
                transition: 0.5s;
            }
        }
        .item{
            margin-left: 15px;
            margin-right: 15px;
            // margin-bottom: 30px;
            // margin-top: 30px;
            transition: 0.5s;
            &:hover{
                box-shadow: 0px 0px 54px #3738361f;
                .blog-img{
                    a{
                        
                        background: $activeColor;
                        border-color: $activeColor;
                        color: $white !important;
                        
                    }
                }
            }  
        }
        .owl-nav{
            display: none;
        }
    }
}

/***************************************/
// Create Blog listing page style
/***************************************/

.blog-page{
    .card{
        // box-shadow: 0px 0px 54px #3738361f;
        border: 0;
        transition: 0.5s;
        box-shadow: 0px 0px 13px -2px #04040440;
        &:hover{
            transform: translateY(-10px);
            box-shadow: 0px 5px 13px 0px #04040440;
        }
    }
}

/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
    #blog {
        position: relative;
		.owl-nav{
            position: absolute;
            top: -60px;
            right: 0;
            margin: 0;
        }
	}
    .blog-2{
        #blog-list-2{
            .owl-nav{
                display: block;
            }
        }
    }
}

/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
	#blog {
        .owl-nav{
            top: -90px;
        }
        .blog-title{
            font-size: 24px;
        }
        .blog-comment-area {
            .comment-title{
                font-size: 24px;
            }
        }
	}

    .blog-2{
        #blog-list-2{
            .entry-title{
                font-size: 24px;
                line-height: 32px;
            }
            .article-content{
                padding: 0 0 15px !important;
            }
            .card-body{
                padding: 30px 30px 0 !important;
            }
        }
    }
}


/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
    .blog-2{
        padding-bottom: 20px;
    }
}

/********************************************/
// Large devices (desktops, 1025px and up)
/********************************************/
@media (min-width: 1025px) {
    #blog {
        padding-top: 90px;
        .owl-nav{
            top: -100px;
        }
	}
    .blog-2{
        padding-bottom: 83px !important;
        #blog-list-2{
            .owl-nav{
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
            }
            .owl-prev,
            .owl-next{
                width: 78px;
                height: 78px;
                font-size: 24px;
            }

            .owl-prev{
                float: left;
                margin: 0;
                transform: translateX(-100px);
            }
            .owl-next{
                float: right;
                    transform: translateX(70px);
            }

            // .owl-prev{
            //     float: left;
            //     margin: 0;
            //     transform: translateX(-163px);
            // }
            // .owl-next{
            //     float: right;
            //         transform: translateX(132px);
            // }
        }
    }
}

/********************************************/
// Large devices (desktops, 1025px and up)
/********************************************/
@media (min-width: 1380px) {
    .blog{
        #blog{
            padding: 100px 0;
        }
    }

    .blog-2 {
        #blog-list-2 {
            .owl-prev{
                float: left;
                margin: 0;
                transform: translateX(-163px);
            }
            .owl-next{
                float: right;
                    transform: translateX(132px);
            }
        }
    }
}