/*
	========================
	Company Section
	========================
*/

#company{
	background: #f9f9f9;
	background-position: left;
	background-size: auto 100%;
	.company-title{
		font-size: 20px;
		font-weight: 600;
	    margin-bottom: 10px;
	}
	.company-featured{
	    margin-top: 15px;
	}
	.sub-title{
		font-size: 18px;
		font-weight: 600;
	}
	.media{
		margin-bottom: 20px;
		padding-bottom: 12px;
		border-bottom: 2px dashed #ececec;
		&:last-child{
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}


/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
	#company{
		background: url('../img/company-bg.png') no-repeat #f9f9f9;
		background-position: left;
		background-size: auto 100%;
		.company-title{
			font-size: 24px;
			margin-bottom: 22px;
		}
		.company-featured{
		    margin-top: 25px;
		}
		.media{
			padding-bottom: 20px;
		}
	}
}



/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
	#company{
		padding: 43px 0;
	}
}


/********************************************/
// Large devices (desktops, 1025px and up)
/********************************************/
@media (min-width: 1025px) {
	#company{
		padding: 98px 0;
	}
}