/*
	========================
		Contact Page
	========================
*/

#contact-page{
	textarea,
	input{
		&:focus{
			border-color: $activeColor;
			box-shadow: none;
		}
	}
	.contact_address{
		border:1px solid #ddd;
		padding: 20px;
		.title {
			h1{
			// font-size:36px;
			font-size:24px;
			line-height:1;
			// line-height:40px;
		}
		h4{
			// font-size:36px;
			font-size:24px;
			line-height:1;
			// line-height:30px;
			font-weight:300;
		}
		}
		.contact-media{
			padding:31px 0;
		}
		.border-bottom{
			border-bottom:1px solid #ddd;
		}	
	}
	.media-body{
		h5{
			font-size:18px;
		}
	}
}
#map-area{
	padding:0 !important;
	#contact-map{
		height:600px;
	}
}



/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
	#contact-page {
		.contact_address{
			padding:35px 40px 25px 40px;
		}
	}
}