/*
	========================
		FAQ Section
	========================
*/
#faq_content{
	.card-header{
		padding: 20px 20px 17px 20px;
		background-color: transparent;
		border-bottom: 0;
		cursor: pointer;
		a{
			font-size: 18px;
			color: $heading;
			font-weight: 500;
		}
		&:first-child{
			border-radius:0;
		}
		&:after {
			font-family: 'FontAwesome';  
			content: "\f01b";
			float: right; 
			font-size: 18px;
			color:$activeColor;
		}
	}
	.card-header.collapsed{
		&:after {
			content: "\f01a"; 
			font-size: 18px;
			color:$heading;
		}
	} 
	.card{
		border-bottom:1px solid #ddd;
		border-radius: 0;
	}
	.card-body{
		padding: 0 25px 25px 25px;
	}
}	
.faq_text_area {
    height: 182px !important;
}

#ask_questions{
	background-color: #f4f4f4;
	textarea,
	input{
		background-color: #f4f4f4;
		&:focus{
			border-color: $activeColor;
			box-shadow: none;
		}
	}
	.btn{
		text-transform: none;
	}
}

