/*
	========================
	Featured Section
	========================
*/
#featured{
	.featured-img{
	    padding-right: 18px;
	    position: relative;
		.img-before{
		    	position: absolute;
		    	background: $activeColor;
		    	left: 90px;
	    	    bottom: -13px;
	    	    top: 90px;
	    	    right: 5px;
		}
	    img{
	    	position: relative;
	    	z-index: 10;
	    }
	}
	.section-title{
		    margin-bottom: 24px;
		    // margin-bottom: 45px;
	        // margin-top: 34px;
            margin-top: 12px;
	}
	.featured-icon{
		margin-bottom: 12px;
		i{
			color: $activeColor;
			&:before{
				font-size: 47px;
			}
		}
	}
	.featured-item-box{
		&:last-child{
			.featured-content{
				margin-bottom: 15px;
			}
		}
	}
	.featured-item{
		&:hover{
			.featured-item-title{
				color: $activeColor;
			}
			.featured-icon{
				i{
					color: $heading;
				}
			}
		}
	}
	.featured-item-title{
		font-weight: 600;
		transition: 0.5s;
		margin: 0;
		font-size: 18px;
	}

	.featured-content{
		margin-top: 10px;
	    margin-bottom: 25px;
	}
	
	.work-counter{
		padding: 20px 20px 0;
		border-top: 1px solid;
		border-color: #e9e9e9;
		.activeColor{
			font-weight: 600;
		}
	}
	.count{
		font-weight: 600;
		line-height: 1;
		margin-bottom: 20px;
		h5{
			font-size: 18px;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.counter{
		font-size: 24px;
		margin-bottom: 10px;
	}
}

/********************************************/
// featured Section in Home 3
/********************************************/
.home2-base-title{
	h1{
		font-size: 25px;
	}
}
#featured-2{
	.featured-overlay{
		bottom: 30px;
		left: 25px;
		.featured-title{
			font-size: 20px;
			font-weight: 400;
		}
	}
}

/********************************************/
// featured Section in Home 3
/********************************************/
#featured-3{
	.card-title{
		font-size:18px;
		color: #061538;
		transition: 0.5s;
	    font-weight: 600;
	}
	.card-text{
		color: $text;
	}
	svg{
		transition: 0.5s;
		fill: $activeColor;
	}
	.card{
		border-color: #c7c7c7;
		transition: 0.5s;
		&:hover{
			box-shadow: 0px 9px 8px -2px rgba(0,0,0,0.16);
			.card-title{
				color: $activeColor;
			}
			svg{
			    fill: $heading;
			}
		}
	}
	.card-body{
		padding: 20px;
	}
}

/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
	/********************************************/
	// featured Section in Home 3
	/********************************************/
	.home2-base-title{
		h1{
			font-size: 36px;
		}
	}
	#featured-2{
		.featured-overlay{
			.featured-title{
				font-size: 24px;
			}
		}
	}
	#featured-3{
		padding-top: 40px;
	}
	#featured {
		.featured-img {
			&:before{
				left: 125px;
				bottom: -18px;
				top: 121px;
				right: -1px;
			}
		}
		.section-title{
			margin-bottom: 35px;
			margin-top: 30px;
		}
	}
}

/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
	#featured {
	    padding-bottom: 90px;
		.work-counter{
			margin-top: 0px;
		}
		.count{
			margin-bottom: 0;
		}
	}
	#featured-3 {
		.card-body{
			// padding: 40px 40px 35px;
		}
		.card-title{
			font-size: 20px;
		}
	}
}

/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 1025px) {
    #featured {
    	padding-bottom: 116px;
		.featured-item-title{
			font-size: 24px;
			line-height: 30px;
		}
		.section-title{
			margin-top: 34px;
			margin-bottom: 50px;
		}
		.count{
			h5{
				font-size:24px;
			}
		}
		.counter{
			font-size: 36px;
		}
		.featured-content{
		    margin-top: 12px;
	        margin-bottom: 40px;
		}
		.work-counter{
			padding: 49px 31px 0;
			border-top: 1px solid;
			border-color: #e9e9e9;
			margin-top: 25px;
		}
		.featured-item-box{
			&:nth-child(3){
				p{
					margin-bottom: 0;
				}
			}
			&:nth-child(4){
				p{
					margin-bottom: 0;
				}
			}
		}
	}

	#featured-2{
	    padding-top: 95px;
	}

	#featured-3 {
		.card-title{
			font-size: 24px !important;
		}
		.card-body{
			padding: 35px 33px 35px;
		}
	}
}


/********************************************/
// Large devices (desktops, 1200px and up)
/********************************************/
@media (min-width: 1200px) {
	#featured-3{
		margin-top: -123px;
	}
}


