/**
 * ---------------------------------------------------------------------------
 * 0?. Footer Styles
 * ---------------------------------------------------------------------------
 */
#footer{
    background-color: #0b0b0b;
    padding: 40px 0 18px;
    border-top: 1px solid #292929;
    .footer-nav-title{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 14px;
    }
    .footer-nav-list{
        padding-left: 25px;
        li{
            border-left: 1px solid #2f2f2f;
        }
        a{
            color: #848484;
            position: relative;
            padding-left: 12px;
            font-size: 15px;
            font-weight: 100;
            &:hover{
                color: $activeColor;
                &:before{
                    background: $activeColor;
                }
            }
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                left: -25px;
                height: 1px;
                width: 25px;
                background: #848484;
                transform: translateY(-50%);
            }
        }
    }
    .footer-block{
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #242424;
        &:last-child{
            margin: 0;
            padding: 0;
            border: 0;
        }
        a{
            &:hover{
                .footer-blog-title{
                    color: $activeColor;
                }
            }
        }
        p{
            color: #848484;
        }
        .footer-blog-date{
            font-size: 12px;
            margin-bottom: 5px !important;
        }
        .footer-blog-title{
            font-size: 15px;
            line-height: 20px;
            transition: 0.5s;
        }
    }
}

.bind_footer{
    background: url('../img/bind_footer_bg.jpg') no-repeat;
    background-color: #0b0b0b;
    #footer{
        border-color: transparent;
        background: transparent;
        padding: 40px 0;
        // padding-top: 98px;
        // padding-bottom: 100px;
        .footer-nav-title{
            // margin-bottom: 36px;
            margin-bottom: 15px;
        }
        .footer-logo{
            margin-bottom: 25px;
        }
        .footer-nav-list {
            li{
                border-color: transparent;
                margin-bottom: 10px;
            }
        }
    }
    .subscription-form{
        input{
            background: transparent;
            border-color: #484848;
            height: auto;
            padding: 5px 10px;
            font-size: 12px;
            color: $white;
            border-radius: 0;
        }
    }
    .btn-primary{
        width: 100%;
        padding: 8px;
    }

    .address_info{
        margin-bottom: 60px;
        span{
            font-weight: 500;
        }
        p{
            color: #848484;
            margin-bottom: 0;
            font-size: 15px;
            line-height: 25px;
        }
        .footer-address{
            margin-bottom: 12px;
        }
        .footer-open{
            margin-top: 7px;
        }
    }
    .social-media{
        margin-top: 20px;
        padding-top: 20px;
        // margin-top: 32px;
        // padding-top: 28px;
        border-top: 1px solid #3a3a3a;
        a{
            float: left;
            margin-right: 15px;
        }
        i{
            display: inline-block;
            font-size: 10px;
        }
    }
}

/*******************************************/
// Extra small devices (portrait phones, less than 576px)
/********************************************/
@media (max-width: 575.98px) {
    #footer{
        padding: 20px 0;
    }
}

/*
	===========================
	Copy Right Section
	===========================
*/
#copyright{
    background: #141414;
    padding: 20px 0;
    .company-name{
        font-weight: 600;
        &:hover{
            color: #848484;
        }
    }
}
.social-media{
    a{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid #595959;
        margin-right: 28px;
        color: #868686;
        &:last-child{
            margin: 0;
        }
    }
    i{
        // font-size: 12px;
    }
    .ct-twitter{
        &:hover{
            background: #00aff0 !important;
            border-color: #00aff0 !important;
            color: $white;
        }
    }
    .ct-facebookr{
        &:hover{
            background: #3b5998 !important;
            border-color: #3b5998 !important;
            color: $white;
        }
    }
    .ct-instagramr{
        &:hover{
            background: #fd1d1d !important;
            border-color: #fd1d1d !important;
            color: $white;
        }
    }
    .ct-skype{
        &:hover{
            background: #00aff0 !important;
            border-color: #00aff0 !important;
            color: $white;
        }
    }
    .ct-linkedin{
        &:hover{
            background: $linkedin !important;
            border-color: $linkedin !important;
            color: $white;
        }
    }
}

/*******************************************/
// Extra small devices (portrait phones, less than 576px)
/********************************************/
@media (max-width: 575.98px) {
    #copyright{
        text-align: center;
    }
}




/*******************************************/
// Medium devices (tablets, less than 768px)
/********************************************/
@media (min-width: 768px) {
    .bind_footer {
        #footer{
            padding-bottom: 13px;
        }
    }
}

/*******************************************/
// Medium devices (tablets, less than 992px)
/********************************************/
@media (min-width: 992px) {
    #footer{
        padding: 45px 0 60px;
        .footer-nav-title{
            margin-bottom: 36px !important;
        }
    }

    .bind_footer {
        #footer{
            padding-bottom: 40px;
        }
    }
}




/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 1025px) {
    .bind_footer #footer{
        padding: 100px 0;
    }
}