/*
	========================
	Header Section
	========================
*/
.header-top{
	background-color: #0b0b0b;
	font-weight: 300;
	color: $white;
	a{
		color: $white;
		font-weight: 300;
		&:hover{
			color: $activeColor !important;
		}
	}
	i{
		color: $activeColor;
		margin-right: 10px;
		font-size: 15px;
	}
	strong{
		font-weight: 600;
	}
	.block{
		padding: 20px 32px 20px 0;
		margin-right: 32px;
		border-right: 1px solid;
		border-color: #242424;
		font-size: 15px;
		&:last-child{
			border: 0;
			margin: 0;
			padding-right: 0;
		}
	}

	.social-media{
		padding: 10px 0;
		a{
			margin-right: 20px;
			&:hover{
				i{
					color: red;
					transition: 0.5s;
				}
				.fa-facebook{
					color: $facebook;
				}
				.fa-twitter{
					color: $twitter;
				}
				.fa-skype{
					color: $skype;
				}
				.fa-vine{
					color: $vine;
				}
			}
			&:last-child{
				margin-right: 0;
			}
			i{
				margin: 0;
				color: $white;
			}
		}
	}
}

.header-3{
	.block{
		padding-top: 0;
		padding-bottom: 0;
		border-color: #848484;
	}
}

.header-white{
	background-color: #fff !important;
	padding: 20px 0;
	strong,
	a{
		color: #242424 !important;
	} 
	a{
	    border-color: transparent !important;
	}
	.block{
		padding-top: 0;
		padding-bottom: 0;
		border-color: #c1c4cd;
	}
	.social-media{
		// padding: 0;
		i{
			color: #737373 !important;
		}
		a{
			&:hover{
				.fa-facebook{
					color: $facebook !important;
				}
				.fa-twitter{
					color: $twitter !important;
				}
				.fa-skype{
					color: $skype !important;
				}
				.fa-vine{
					color: $vine !important;
				}
			}
		}
	}
}

/*
	========================
	Header Bottom Section
	========================
*/
#header-bottom{
	background-color: #0b0b0b;
	// background-color: transparent;
	// padding: 40px 0 34px;
	padding: 20px 15px;
	font-weight: 300;
	color: $white;
	a{
		color: $white;
		&:hover{
			color: $activeColor !important;
		}
	}
	i{
		color: $activeColor;
		margin-right: 10px;
		font-size: 15px;
	}
	strong{
		font-weight: 600;
	}
	.block{
		// padding: 20px 32px 20px 0;

		// margin-right: 32px;
		// padding-right: 32px;
		// border-right: 1px solid;
		// border-color: #242424;
		font-size: 15px;
		&:last-child{
			border: 0;
			margin: 0;
			padding-right: 0;
		}
	}

	.social-media{
		padding: 10px 0;
		a{
			margin-right: 20px;
			&:hover{
				i{
					color: red;
					transition: 0.5s;
				}
				.fa-facebook{
					color: $facebook;
				}
				.fa-twitter{
					color: $twitter;
				}
				.fa-skype{
					color: $skype;
				}
				.fa-vine{
					color: $vine;
				}
			}
			&:last-child{
				margin-right: 0;
			}
			i{
				margin: 0;
				color: $white;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.header-top {
		padding: 0 20px;
		.block{
			margin-right: 0;
			padding: 5px 0;
			border: 0;
			text-align: left !important;
		}
	}
}

/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 768px) {
	.header-top {
		.header-contact{
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.header-top {
		.block{
			margin-right: 15px;
		}
	}
	.header-3{
		.block{
			margin-right: 0;
		    margin-left: 15px;
		}
	}
}

/*******************************************/
// Medium devices (tablets, less than 992px)
/********************************************/
@media (min-width: 991.99px) {

	/*
		========================
		Header Section
		========================
	*/
	#main-header{
		position: absolute;
	    z-index: 10;
	    width: 100%;
	    #main-nav {
	    	.nav-link{
	    		color: $white;
	    	}
	    }
	}

	#header-bottom {
		background-color: transparent;
		padding: 30px 0;
		.block{
			margin-right: 32px;
			padding-right: 32px;
			border-right: 1px solid;
			border-color: #464646;
		}
	}


	.header-top.header-white{
		.block{
			padding-top: 0;
			padding-bottom: 0;
		}
		.social-media{
			padding: 0 !important;
		}
	}
	.header-top {
		.block{
			padding-right: 10px;
			margin-right: 10px;
			font-size: 14px;
		    padding: 18px 15px 18px 0;
		}
		.social-media{
			padding: 20px 0;
		}
		.header-contact{
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.header-3{
		.block{
			margin-right: 10px;
		    margin-left: 0;
		}
	}
}

/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 1025px) {
	.header-top {
		.block{
			padding-right: 30px;
			margin-right: 30px;
		}
	}
}
