/*
	===========================
	Quote & Questions Section
	===========================
*/
#homeFaq{
    .section-title{
        margin-bottom: 11px;
    }
    textarea{
        height: 123px !important;
        resize: none;
    }
    .form-control{
        height: auto;
        padding: 7px 10px;
        &:focus{
            box-shadow: none;
            border-color: $activeColor;
        }
    }
    .quote-form{
        margin-top: 12px;
        margin-bottom: 18px;
    }
    .quote-content{
        p{
            font-size: 15px;
            margin: 0;
            line-height: 25px;
            display: inline;
        }
        span{
            font-weight: 600;
        }
    }
    .accordion{
        box-shadow: 0px 0px 54px #3738361f;
        .card{
            border: 0;
            border-bottom: 1px solid #eeeeee;
            &:last-child{
                border: 0;
            }
            &:hover{
                .accordion-icon{
                    background: $activeColor;
                    color: $white;
                }
            }
        }
        .collapsed{
            .accordion-icon{
                background: #eeeeee;
                color: $heading;
            }
        }
        .btn{
            padding: 5px 20px 0;
            white-space: unset;
            background: $white;
            border-color: $white;
        }
        .btn-link{
            &:hover,
            &:active,
            &:focus{
                text-decoration: none;
            }
        }
        .card-header{
            border-bottom: 0;
            box-shadow: none;
        }
        .accordion-icon{
            width: 33px;
            height: 33px;
            background: $activeColor;
            color: $white;
            transition: 0.5s;
            display: none !important;
        }
        .accordion-title{
            font-size: 16px;
            text-transform: none;
            line-height: 1;
            font-weight: 600;
            color: $heading;
            padding: 15px 0;
        }
        .card-body{
            padding-left: 21px;
            padding-top: 0;
        }
    }
}

/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
    #homeFaq {
        .accordion {
            .accordion-icon{
                display: flex!important;
            }
            .card-body{
                padding-left: 60px;
                padding-right: 50px;
            }
        }
    }
}


/********************************************/
// Large devices (desktops, 962px and up)
/********************************************/
@media (min-width: 962px) {
    #homeFaq {
        padding-bottom: 58px;
        .accordion {
            .card-body{
                padding-left: 80px;
                padding-right: 40px;
            }
        }
        .quote-content {
            p{
                display: inline-block;
            }
        }
    }
}

/********************************************/
// Large devices (desktops, 1024px and up)
/********************************************/
@media (min-width: 1024px) {
    #homeFaq{
        .btn{
            padding: 24px !important;
        }
        .accordion-title{
            font-size: 18px !important;
            line-height: 40px !important;
            padding: 0 !important;
        }
    }
}

/********************************************/
// Large devices (desktops, 1025px and up)
/********************************************/
@media (min-width: 1025px) {
    #homeFaq{
        padding-top: 90px;
    }
}



/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 1200px) {
    .home-1 #homeFaq{
        padding-bottom: 102px;
    }
}