/*
	========================
	Inspiring Section
	========================
*/
#inspiring{
    background-color: #f8f8f8;
    .inspiring-by{
    	margin-bottom: 20px;
    }
    .inspiring-video{
    	img{
    		transform: scale(1.8);
    	}
    }
	.inspiring-by{
		.inspiring-author{
			font-size: 18px;
		    font-weight: 600;
		    margin: 0;
		    line-height: 20px;
		}
		.inspiring-author-role{
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			margin: 0;
		}
		img{
			margin-bottom: 20px;
	    }
	}  
}

/*
	========================
	Inspiring 2 Section
	========================
*/
#inspiring-2{
	background: url('../img/inspiring-bg-2.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	.subtitle{
	    font-size: 20px;
	}
	.inspiring-title{
	    font-size: 24px;
	}
	.inspiring-by{
		.inspiring-author{
			font-size: 18px;
			font-weight: 600;
		}
		.inspiring-author-role{
			font-size: 15px;
			margin: 0;
			line-height: 20px;
		}
		.inspiring-author{
			font-size: 18px;
			margin: 0;
			line-height: 20px;
		}
		img{
			margin-bottom: 20px;
	    }
	}  
}


/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
	#inspiring {
		.play-btn{
		    left: 12%;
		}
		.inspiring-video {
			img{
	    		transform: scale(1);
	    	}
		}
		.inspiring-by{
			margin: 0;
		}
		.inspiring-content-area{
			max-width: 330px;
		}
	}
	#inspiring-2{
		.subtitle{
		    font-size: 24px;
		}
		.inspiring-title{
		    font-size: 36px;
		}
	}
}

@media (min-width: 992px) {
	#inspiring{
		.inspiring-content-area{
		    max-width: 450px;
		}
	}
}

@media (min-width: 1025px) {
	#inspiring{
		.inspiring-content-area{
			max-width: 540px;
		}
		.inspiring-by{
			margin-top: 68px;
		}
	}
}