/*
	========================
	Letest Project
	========================
*/
#letest-project{
    .section-title{
        margin-bottom: 17px;
    }
    .mixitup-menus{
        .btn{
            text-transform: none;
        }
    }
    .mix{
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    .mixitup-menus{
        margin-bottom: 20px;
        background-color: $activeColor;
        text-align: center;
        button{
            padding: 18px;
            margin: 0 12px;
            padding-left: 0;
            padding-right: 0;
            font-weight: 500;
            &:hover{
                background: transparent;
                border-color: transparent;
                color: $heading;
            }
            &:focus{
                box-shadow: none;
            }
        }
    }
    .mixitup-control-active{
        position: relative;
        color: $heading;
        font-weight: 600;
        &:before{
            content: "";
            width: 100%;
            height: 4px;
            background-color: $heading;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .card{
        overflow: hidden;
        &:hover{
            .shape{
                border-bottom: 110px solid $activeColor;
                border-right: 110px solid transparent;
                opacity: 1;
            }
            .img-overlay{
                opacity: 1;
                transform: translateY(0);
                &::before{
                    opacity: 1;
                }
            }
            .categories{
                margin: 20px;
                opacity: 1;
            }
        }
    }
    .categories{
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px;
        transition: 0.5s;
        opacity: 0;
    }
    .shape{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        transition: 0.5s;
        opacity: 0;
        border-bottom: 100px solid $activeColor;
	    border-right: 100px solid transparent;
    }
    .img-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #061538ad;
        opacity: 0;
        transition: 0.5s;
        transform: translateY(-10px);
        &:before{
            content: "";
            position: absolute;
            left: 26px;
            top: 26px;
            bottom: 26px;
            right: 26px;
            transition: 0.8s;
        }
    }
}

.letest_project_section{
    background: #0b0b0b;
    .mixitup-menus{
        margin-bottom: 16px !important;
        background-color: transparent !important;
    }
    .mixitup-menus {
        button{
            margin: 5px !important;
            padding: 16px 30px 14px !important;
            color: $white !important;
            border: 1px solid #484848;
            background: transparent !important;
            &:hover{
                background: $activeColor !important;
            }
            &:before{
                content: initial !important;
                height: 0 !important;
            }
        }
        .mixitup-control-active{
            background: $activeColor !important;
            border-color: transparent;
        }
    }
}

/*
    ========================
    Letest Project 3
    ========================
*/
#letest-project-3{
    a{
        color: $heading;
    }
    .project-area{
        margin-bottom: 20px;
        &:nth-last-child(-n+3){
            margin-bottom: 0;
        }
    }
    .card{
        background: #f4f4f4;
        border-color: transparent;
        box-shadow: 0px 8px 51px -8px rgba(0, 0, 0, 0.15);
        transition: 0.5s;
        &:hover{
            background: $white;
            a{
                color: $activeColor;
                opacity: 1;
            }
        }
    }
    .project-img{
        padding: 10px 10px 0;
    }
    .card-title{
        font-size: 18px; 
        font-weight: 600;
        padding: 10px 25px 11px;
        border-bottom: 1px solid #d5d5d5;
    }
    .project-meta{
        padding: 15px 25px 13px;
        color: $text;
        a{
            color: $text;
            opacity: 0.40;
        }
        i, p{
            font-size: 15px;
        }
    }
}

/*
    ========================
     Project Gallery
    ========================
*/
#project-gallary{
    .mixitup-menus{
        .filter-btn{
            text-transform: none;
            background-color:$white;
            margin: 0 3px;
            border-color:#e9e9e9;
            color: $heading;
            &:hover{
                background-color: $activeColor;
                border-color: transparent;
                color: $heading;
            }
            &:focus{
                box-shadow: none;
            }
        }
    }
    .mixitup-control-active{
        position: relative;
        color: $white !important;
        font-weight: 600;
        background-color:$activeColor !important;
    }
    .card{
        overflow: hidden;
        &:hover{
            .shape{
                border-bottom: 110px solid $activeColor;
                border-right: 110px solid transparent;
                opacity: 1;
            }
            .img-overlay{
                opacity: 1;
                transform: translateY(0);
                &::before{
                    opacity: 1;
                }
            }
            .categories{
                margin: 20px;
                opacity: 1;
            }
        }
    }
    .categories{
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px;
        transition: 0.5s;
        opacity: 0;
    }
    .shape{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        transition: 0.5s;
        opacity: 0;
        border-bottom: 100px solid $activeColor;
        border-right: 100px solid transparent;
    }
    .img-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #061538ad;
        opacity: 0;
        transition: 0.5s;
        transform: translateY(-10px);
        &:before{
            content: "";
            position: absolute;
            left: 26px;
            top: 26px;
            bottom: 26px;
            right: 26px;
            transition: 0.8s;
        }
    }
}


/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
    #letest-project{
        padding-bottom: 20px;
    }
}

/*******************************************/
// Medium devices (tablets, less than 992px)
/********************************************/
@media (min-width: 992px) {
    #letest-project{
        padding-bottom: 55px;
    }
    #project-gallary {
        .mixitup-menus {
            .filter-btn{
                margin: 0 6px;
            }
        }
    }
    // .project_column_3{
    //     padding-top: 50px;
    // }
    .letest_project_section {
        .mixitup-menus {
            button{
                margin-right: 0 !important;
                margin-left: 15px !important;
            }
        }
    }
}

/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 1025px) {
    #letest-project-3{
        padding-top: 96px !important;
    }
    #letest-project{
        padding-bottom: 100px;
        padding-top: 90px;
    }
    .letest_project_section{
        padding-top: 95px !important;
    }
}


/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 1200px) {
    #letest-project{
        padding-bottom: 80px;
    }
}