/*
	========================
	Market Section Style 01
	========================
*/
#market-section{
    padding-bottom: 0;
    i{
        color: #fff;
        &:before{
            font-size: 32px;
        }
    }
    i.fa-link{
        color: $activeColor;
        &:before{
            font-size: 30px;
        }
    }
    .card{
        overflow: hidden;
        &:hover{
            .shape{
                border-top: 110px solid $activeColor;
                border-left: 110px solid transparent;
            }
            .img-overlay{
                opacity: 1;
                transform: translateY(0);
                &::before{
                    opacity: 1;
                }
            }
            .categories{
                margin: 20px 20px;
            }
            .card-title{
                color: $activeColor;
            }
        }
        a{
            color: $heading;
        }
        .card-title{
            transition: 0.5s;
            font-weight: 600;
            font-size: 18px;
        }
    }
    .categories{
        position: absolute;
        top: 0;
        right: 0;
        margin: 16px 15px;
        transition: 0.5s;
    }
    .shape{
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        transition: 0.5s;
        border-top: 100px solid $heading;
        border-left: 100px solid transparent;
    }
    .img-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 21, 56, 0.66);
        opacity: 0;
        transition: 0.5s;
        transform: translateY(-10px);
        &:before{
            content: "";
            position: absolute;
            left: 26px;
            top: 26px;
            bottom: 26px;
            right: 26px;
            
            transition: 0.8s;
        }
    }
    .style-1{
        &:before{
            border-color: $activeColor;
            border: 1px solid;
        }
    }
}

.market_page #market-section{
    padding-bottom: 20px;
}

.market-section-2{
    .card-body{
        padding-bottom: 13px;
    }
}

.market-section-3{

}

/*
    ========================
    Market Section Style 03
    ========================
*/
.market-section-home-2{
    
}


/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
    #market-section{
        padding: 40px 0 14px !important;
    }
    #market-section.market-section-2{
        padding: 40px 0 20px !important;
    }
    .market_page #market-section{
        padding: 40px 0 !important;
    }
}

/*******************************************/
// Medium devices (tablets, less than 992px)
/********************************************/
@media (min-width: 992px) {
    #market-section{
        padding: 40px 0 14px !important;
        .card {
            .card-title{
                font-size: 20px;
            }
        }
    }

    .home3-base-title{
        margin-bottom: 38px;
    }
}

/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 1025px) {

    #market-section{
        .card {
            .card-title{
                font-size: 23px;
                margin-bottom: 10px !important;
            }
            .card-body{
                padding: 26px 0 !important;
            }
        }
        .market-area{
            &:nth-last-child(-n+3){
                .card {
                    .card-body{
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
    }
    /*
        ========================
        Market Section Style 02
        ========================
    */
    #market-section.market-section-2{
        padding: 100px 0 92px !important;
    }
    .market-section-2{
        padding-top: 97px !important;
    }
    .market-section-3{
        padding-top: 94px !important;
        .market-area{
            &:nth-last-child(-n+3){
                .card {
                    .card-body{
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
    }
}



/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 1200px) {
    #market-section{
        padding: 90px 0 93px !important;
    }

    .market_page #market-section{
        padding: 100px 0 !important;
    }
}

/*
    =====================================================
    Market Section Style 02
    =====================================================
*/
.market-style-2{
    &:hover{
        .media-icon{
            background: $activeColor;
            i{
                &:before{
                    color: $white;
                }
            }
        }
        .b-color{
            border-color: $activeColor;
        }
    }
    .img-overlay{
        &::before{
            border-color:transparent !important;
        }
    }
    .b-color{
        border:1px solid;
        border-color:#CDD0D7;
        padding:14px 10px 5px !important;
        border-radius: 4px;
    }
    .media-icon{
        transition: 0.5s;
        margin-right: 10px;
        i{
            &:before{
                color: $heading;
            }
        }
    }

}

/*
    ========================
    Market Section Style 03
    ========================
*/

.market-style-3{
    &:hover {
        .categories{
            margin: 20px 20px !important;
        }
    }
    i{
        &:before{
            font-size: 38px !important;
        }
    }
    i.fa-link{
        &:before{
            font-size: 30px !important;
        }
    }
    &:hover{
        .shape-style-2{
            border-bottom: 190px solid $activeColor;
            border-right: 190px solid transparent;
        }
    }
    .categories{
        margin: 10px 15px !important;
    }
    .shape-style-2{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        transition: 0.5s;
        opacity: 1;
        border-bottom: 180px solid $activeColor;
        border-right: 180px solid transparent;
        clip-path: circle(50% at 0 100%);
    }
    .categories {
        position: absolute;
        top: inherit !important;
        right: inherit !important;
        bottom: 5px;
        left: 5px;
        margin: 8px;
        transition: 0.5s;
    }
}