/*
	========================
	ALL Nav Section
	========================
*/
#main-nav{
	padding: 15px;
	position: relative;
	.navbar-nav{
		margin: 0 auto;
	}
	.nav-link{
		font-size: 15px;
	    font-weight: 600;
	    color: $text;
        line-height: 15px;
        // padding: 35px 19px;
        position: relative;
	    &:hover{
	    	color: $activeColor;
	    	&:before{
	    		left: 50%;
	    		opacity: 1;
	    	}
	    }
	    // &:before{
	    // 	content: "";
	    // 	position: absolute;
	    // 	top: 0;
	    // 	// left: 35%;
	    // 	left: 0;
	    // 	width: 20px;
	    // 	height: 4px;
	    // 	background: $activeColor;
	    // 	transform: translateX(-50%);
	    // 	transition: 0.5s;
	    // 	opacity: 0;
	    // }
	}
	.header-search{
		margin-right: 30px;
		padding-right: 30px;
		border-right: 1px solid #c8c8c8;
		i{
			color: #a9a9a9;
			transition: 0.5s;
		}
		&:hover{
			i{
				color: $activeColor;
			}
		}
	}
}

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 600px;
  margin: 0 auto; 
}

/* 
====== Zoom effect ======
*/
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

/*
	========================
	Nav 3 Section
	========================
*/
.home-3{
	#main-nav{
		.header-search{
			margin: 0;
			padding: 0;
			border-color: transparent;
		}
		.navbar-nav{
			margin: unset;
		}
	}
}

/*
	========================
	Nav 2 Section
	========================
*/
#main-header{
	#main-nav{
		background: #ffffff10;
		.navbar-nav{
			margin: 0;
		}
	}
}

/*
	========================
	StellarNav Style
	========================
*/
.stellarnav{
	width: auto;
	margin: 0 auto;
	ul ul{
		background-color: $heading;
		a{
			&:hover{
				background: $activeColor;
			}
		}
	}
	li {
		a{
			color: $white;
			padding: 20px;
		}
	}
}




/*=================================
===================================*/
.logo,
.main-nav-area,
.nav-serch-area{
	width: 100%;
}

.nav-serch-area{
	position: absolute;
	right: 15px;
}

.stellarnav.mobile {
	ul{
		background: transparent;
	}
}
.stellarnav.mobile>ul>li>a.dd-toggle{
	color: $heading;
}
.stellarnav.mobile li.has-sub a{
	color: $heading;
}
.stellarnav.mobile{
	.menu-toggle{
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		font-size: 30px;
		position: absolute;
		right: 15px;
		top: 0;
		width: auto;
	}
}



/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
	#main-nav{
		padding: 0;
	}
	.stellarnav.mobile{
		.menu-toggle{
			position: static;
			right: auto;
			top: auto;
			width: auto;
		}
	}
}

/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
	.logo,
	.main-nav-area,
	.nav-serch-area{
		width: auto;
	}

	.nav-serch-area{
		position: static;
		right: inherit;
	}

	#main-nav{
		.nav-link{
			padding: 35px 12px;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 35%;
				width: 20px;
				height: 4px;
				background: $activeColor;
				transform: translateX(-50%);
				transition: 0.5s;
				opacity: 0;
			}
		}
		.ct-active{
			.nav-link{
				&:before{
					opacity: 1;
					left: 50%;
				}
			}
		}
		.header-search{
			margin-right: 10px;
			padding-right: 10px;
		}
	}
	.home-3{
		#main-nav{	
			position: absolute;
			width: 100%;
			z-index: 10;
			.nav-link{
				color: $white;
			}

			.header-search{
				margin-left: 10px;
				padding-left: 15px;
				border-left: 1px solid #c8c8c8;
			}
		}
	}
}

/********************************************/
// Large devices (desktops, 1200px and up)
/********************************************/
@media (min-width: 1200px) {
	#main-nav{
		.nav-link{
			padding: 35px 19px;
		}
		.header-search{
			margin-right: 30px;
			padding-right: 30px;
		}
	}
	.main-nav-class{
		.stellarnav{
			margin: inherit;
		}
	}
}