/*
	========================
	Inspiring Section
	========================
*/
#questions{
	background: #f4f4f4;
	padding: 0;		
	.block-left,
	.block-right{
		padding: 20px 15px;
	}
	.block-left{
		background: #f8f8f8;				
	}
	.accordion{
	    // box-shadow: 0px 0px 54px #3738361f;
	    .card{
	        border: 0;
	        background: transparent;
	        &:last-child{
	            border: 0;
	        }
	        &:hover{
	            .accordion-icon{
	                background: $activeColor;
	                color: $white;
	            }
	        }
	    }
	    .card-header{
	    	background: transparent;
	    }
	    .collapsed{
	        .accordion-icon{
	            background: #eeeeee;
	            color: $heading;
	        }
	    }
	    .btn{
	    	padding-bottom: 0;
	    	padding-top: 0;
	        // padding: 0 0 20px;
	        white-space: unset;
	        background: transparent;
	        border-color: transparent;
	        border-top-color: #e2e2e2;
	    }
	    .btn-link{
	        &:hover,
	        &:active,
	        &:focus{
	            text-decoration: none;
	        }
	    }
	    .card-header{
	        border-bottom: 0;
	        box-shadow: none;
	    }
	    .accordion-icon{
	        width: 33px;
	        height: 33px;
	        background: $activeColor;
	        color: $white;
	        transition: 0.5s;
	        display: none !important;
	    }
	    .accordion-title{
	        font-size: 16px;
	        line-height: 1;
	        font-weight: 600;
	        color: $heading;
	        padding: 15px 0;
	    }
	    .card-body{
            padding-left: 20px;
	    }
	}

	.process_count{
		// font-size: 60px;
	    font-size: 30px;
		font-weight: 600;
		// margin-bottom: 23px;
		margin-bottom: 10px;
		line-height: 1;
	}
	.featured-item-title{
		font-size: 20px;
		font-weight: 600;
	}
	.featured-content{
		margin: 0;
	}
	.featured-item-box{
		padding-bottom: 10px;
		&:nth-last-child(-n+1){
			padding-bottom: 0;
		}
	}
}

/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
	#questions{
		padding: 20px 0 5px;
		.featured-item-box{
			&:nth-last-child(n+3){
				border-bottom: 1px solid #e9e9e9;
				margin-bottom: 20px;
				padding-bottom: 20px;
			}
		}		
	}
}

/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
	#questions{
		padding: 0;
		.block-left,
		.block-right{
		    padding: 37px 15px 20px;
		}
		.home3-base-title{
			text-align: left !important;
		}
		.process_count{
			font-size: 60px;
			margin-bottom: 0;
		}
		.featured-item-box{
			&:nth-last-child(n+3){
				margin-bottom: 20px;
				padding-bottom: 20px;
			}
		}
	}
}

/********************************************/
// Large devices (desktops, 1025px and up)
/********************************************/
@media (min-width: 1025px) {
	#questions {
		.block-left, .block-right{
			padding-top: 95px;
			padding-bottom: 83px;
		}
		.featured-item-box{

		}

		.featured-item-box{
			text-align: left !important;
			.featured-item-title{
				    margin-bottom: 20px;
			}
			&:nth-last-child(n+3){
				margin-bottom: 45px;
				padding-bottom: 45px;
			}
		}
	}
}