/*
	========================
	Request Section
	========================
*/

#request{
	.request-form{
		padding: 20px;
		border: 5px solid #f8f8f8;
	}
	.form-control{
		font-size: 15px;
		border-color: #e9e9e9;
		&:focus{
			border-color: #e9e9e9;
		    box-shadow: none;
		}
	}
}

/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 768px) {
	#request{
		.request-form{
			margin-bottom: 98px !important;
		}
	}
}
/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 991px) {
	#request{
		padding: 40px 0 0;
		.request-form{
			padding: 40px 20px;
		}
		.form-control{
			padding: 15px;
			height: auto;
		}
	}
}
/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 1025px) {
	#request{
		padding: 96px 0 0;
	}
}