/*
	========================
	Our Services
	========================
*/

#serives_tab{
	.about-faq{
		padding: 0;
	}
	.list-group-item-action {
	    color: $heading;
	    font-size: 18px;
	}
	.list-group-item{
		background-color: #f4f4f4;
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
	    font-weight: 600;
		&:first-child{
			border-top:0;
		}
		&:hover{
			background-color: $heading;
			color: #fff;
		}
	}
	.list-group-item.active {
	    color: #fff;
	    background-color: $heading;
	    border-color: transparent;
	    &:before{
	    	position: absolute;
		    content: "";
		    border-right: 5px solid $activeColor;
		    width: 100%;
		    height: 100%;
		    right: 0;
		    top: 0;
	    }
	}
	.services-right-title{
		font-size: 36px;
		line-height: 28px;
		color: $heading;
		margin:28px 0 20px 0;
		font-weight: 600;
	}
	.sub-title{
		font-size: 24px;
		line-height: 28px;
		color: $heading;
		font-weight: 600;
	}
	.sub-title-media{
		font-size: 18px;
		line-height: 28px;
		color: $heading;
	    font-weight: 600;
	}
	.border-top{
		border-top:2px solid #f4f4f4;
		padding-top: 20px;
	}
	.download-brochures{
		background-color: $heading;
		color: #fff;
	}
	.download-icon{
		max-width: 26px;
		width: 100%;
	}
	.contact-service{
		background-color: $activeColor;
		color:#fff;
		padding: 40px 30px;
		h3{
			font-size: 18px;
		}
		.fw-size{
			font-size: 20px;
			transform: translateY(5px);
			margin-right: 10px;
		}
	}
}


// Medium devices (tablets, less than 992px)
@media (max-width: 1024px) {
	#serives_tab {
		.services-right-title{
			font-size: 32px;
		}
		.sub-title{
		    font-size: 24px;
		}
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	#serives_tab {
		.services-right-title{
			font-size: 22px;
		    margin: 16px 0 10px;
		}
		.sub-title{
		    font-size: 22px;
		}
		.contact-service{
		    padding: 20px 20px;
		}
	}
}



/*******************************************/
// Medium devices (tablets, less than 1200px)
/********************************************/
@media (min-width: 1200px) {
	#serives_tab {
	.border-top{
			padding-top: 50px;
			margin-top: 27px;
		}
	}
}



/*******************************************/
// project single
/********************************************/

.project_single{
	padding: 40px 0;
}