/*
	========================
		Single Project
	========================
*/

#project_single{
	.single_project_widgets{
		background-color: #f2f2f2;
		ul{
			padding: 20px;
			border-bottom:1px solid #ddd;
			li{
				font-size: 18px;
				padding:0 0;
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0px;
				}
			}

		}
		a{
			color:$heading;
			&:hover{
				color:$activeColor;
			}
		}
	}
	.project-info{
		h1{
			font-size: 22px;
			color:$heading;
		}
		p{
			font-size: 15px;
			line-height: 25px;
		}
	}
	.social-media{
		padding:12px 35px;
        a{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid #595959;
            margin-right: 20px;
            color: #868686;
            &:last-child{
                margin: 0;
            }
        }
        i{
            // font-size: 12px;
        }
        .ct-twitter{
            &:hover{
                background: #00aff0 !important;
                border-color: #00aff0 !important;
                color: $white;
            }
        }
        .ct-facebookr{
            &:hover{
                background: #3b5998 !important;
                border-color: #3b5998 !important;
                color: $white;
            }
        }
        .ct-instagramr{
            &:hover{
                background: #fd1d1d !important;
                border-color: #fd1d1d !important;
                color: $white;
            }
        }
        .ct-skype{
            &:hover{
                background: #00aff0 !important;
                border-color: #00aff0 !important;
                color: $white;
            }
        }
    }
}


/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 1024px) {
    #project_single {
        .single_project_widgets {
            ul{
                padding: 40px;
            }
        }
        .project-info {
            h1{
                font-size: 36px;
            }
        }
    }
}