/*
	========================
	Main Slider Style
	========================
*/

.main-slider{
    position: relative;
    .owl-dots{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center
    }
    .owl-dot{
        width: 15px;
        height: 8px;
        border-radius: 5px;
        margin: 0 3px;
        transition: 0.5s;
        background-color: #9f9ba0 !important;
        &:hover{
            box-shadow: inset 0px 0px 0px 2px $activeColor !important; 
        }
    }
    .active{
        width: 30px;
        background-color: $activeColor !important;
    }

    .slider-content-box{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: $white;
    }
    .slider-title{
        font-weight: 700;
        font-size: 60px;
        line-height: 68px;
    }
    .activeColor{
        font-weight: 300;
    }
    .slider-content{
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
    }
    .slider-btn{
        margin-top: 45px;
    }
    .btn{
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
}

/*
    ========================
    Slider 3 Style
    ========================
*/
.home-3{
    .slider-three{
        background: url('../img/home-3.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        #main-slider{
            padding: 253px 0 308px; 
            // padding: 50px 0;            
        }
        .owl-dots{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center
        }
        .owl-dot{
            width: 15px;
            height: 8px;
            border-radius: 5px;
            margin: 0 3px;
            transition: 0.5s;
            background-color: #9f9ba0 !important;
            &:hover{
                box-shadow: inset 0px 0px 0px 2px $activeColor !important; 
            }
        }
        .owl-dot.active{
            width: 30px;
            background-color: $activeColor !important;
        }
        // .slider-title{
        //     font-weight: 700;
        //     font-size: 22px;
        //     line-height: 1;
        // }
        .slider-title{
            font-weight: 700;
            font-size: 60px;
            line-height: 68px;
        }
        .slider-btn{
            margin-top: 45px;
        }
        .slider-sub-title{
            font-size: 40px;
            font-weight: 300;
        }
        .btn{
            margin-right: 20px;
        }
    }
}

/*
    ========================
    Slider 2 Style
    ========================
*/
.main-slider-2{
    .slider-title{
        .sub_title{
            font-weight: 300;
            position: relative;
            display: inline-block;
            // padding: 0 30px;
            padding: 0 5px;
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 10px;
                // height: 30px;
                background: $activeColor;
            }
            p{
                position: relative;
                z-index: 1;
            }
        }
    }
}



/*******************************************/
// Medium devices (tablets, less than 1200px)
/********************************************/
@media (max-width: 1199px) {
	.main-slider {
        .slider-title{
            font-size: 30px;
            line-height: 1;
        }
        .slider-content{
            font-size: 18px;
            line-height: 28px;
        }
        .slider-btn{
            margin-top: 20px;
        }
    }
    .home-3 {
        .slider-three {
            #main-slider{
                padding: 150px 0;
            }
            .slider-title{
                font-size: 40px;
                line-height: 1;
            }
            .slider-sub-title{
                font-size: 30px;
            }
            .slider-btn{
                margin-top: 45px;
            }
        }
    }
}

/*******************************************/
// Medium devices (tablets, less than 991px)
/********************************************/
@media (max-width: 991.98px) {
	.main-slider {
        .slider-title{
            font-size: 25px;
            line-height: 1;
        }
        .slider-content{
            line-height: 20px;
            font-size: 14px;
        }
        .slider-btn{
            margin-top: 15px;
        }
    }

    .home-3 {
        .slider-three {
            .slider-title{
                font-size: 25px;
                line-height: 1;
            }
            .slider-content{
                line-height: 20px;
                font-size: 14px;
            }
            .slider-sub-title{
                font-size: 20px;
            }
            .slider-btn{
                margin-top: 15px;
            }
            #main-slider{
                padding: 70px 0;
            }
        }
    }
}

/*******************************************/
// Medium devices (tablets, less than 992px)
/********************************************/
@media (min-width: 992px) {
    .main-slider {
        .owl-dots{
            bottom: 20px;
        }
    }
    .home-3 {
        .slider-three {
            .owl-dots{
                bottom: 50px;
            }
        }
    }
    .main-slider-2 {
        .slider-title {
            .sub_title{
                padding: 0 15px;
                &:after{
                    height: 14px;
                }
            }
        }
    }
}

/*******************************************/
// Medium devices (tablets, less than 1200px)
/********************************************/
@media (min-width: 1200px) {
    .main-slider {
        .owl-dots{
            bottom: 50px;
        }
    }
    .home-3 {
        .slider-three {
            .owl-dots{
                bottom: 100px;
            }
        }
    }
    .main-slider-2 {
        .slider-title {
            .sub_title{
                padding: 0 30px;
                &:after{
                    height: 30px;
                }
            }
        }
    }
}

/*******************************************/
// Medium devices (tablets, less than 767px)
/********************************************/
@media (max-width: 767.98px) {
	.main-slider {
        text-align: center;
        .slider-title{
            font-size: 22px;
            line-height: 1;
        }
    }
    .home-3{
        .slider-three{
            text-align: center;
        }
    }
}