/*
	===========================
	Sponsored Section
	===========================
*/
#sponsored{
    border-top: 1px solid #dedede;
    padding: 20px 0;
    .sponsored-img{
        display: block;
        margin: 0 auto 20px;
    	&:last-child{
    		margin-bottom: 0;
    	}
    }
}


/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
    #sponsored{
        padding: 40px 0;
        .sponsored-img{
            display: inline-block;
            // margin: 0 20px 20px;
        }
    }
}



/********************************************/
// Large devices (desktops, 962px and up)
/********************************************/
@media (min-width: 962px) {
    #sponsored{
        padding: 40px 0;
    }
}



/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 1200px) {
    #sponsored{
        padding-top: 44px;
        padding-bottom: 45px;
    }
}