/*
	========================
	Subscription Section
	========================
*/
#subscription{
    background-color: #0b0b0b;
    padding: 35px 0;
    .btn{
        border-radius: 6px;
        // font-size: 15px;
        // line-height: 1;
        // padding: 18px 51px 17px;
        // text-transform: uppercase;
        // font-weight: 600;
    }
    .form-control{
        border-radius: 5px;
        border-color: transparent;
        // padding: 13px 24px;
        height: auto;
        line-height: 15px;
        font-size: 15px;
        font-weight: 400;
        color: #242424;
        &:focus{
            outline: none;
            border-color: #ced4da;
            box-shadow: none;
        }
    }
}

/*******************************************/
// Medium devices (tablets, less than 768px)
/********************************************/
@media (min-width: 768px) {
	#subscription {
		.btn{
            border-radius: 6px;
            font-size: 15px;
            line-height: 1;
            padding: 16px 51px 12px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .form-control{
            padding: 9px 24px;
        }
	}
}


/*******************************************/
// Medium devices (tablets, less than 992px)
/********************************************/
@media (min-width: 768px) {
	#subscription {
		.from-element{
            padding-right: 20px !important;
            &:last-child{
                padding-right: 0 !important;
            }
		}
	}
}

/*******************************************/
// Extra small devices (portrait phones, less than 576px)
/********************************************/
@media (max-width: 575.98px) {
    #subscription{
        padding: 20px 0;
    }
}
