/*
	========================
	Management Team
	========================
*/

#team-area{
	.team-item{
		margin-bottom: 1rem !important;
	}
	.card{
		transition: 0.5s;
		.card-title{
			font-size:22px;
			font-weight:600;
			color:$heading;
		}
		.card-text{
			color:$text;
			font-size:15px;
		}
		.card-body{
			padding: 15px 10px;
		}
		.team-thumb:after{
			position:absolute;
			content: "";
			width: 100%;
			height: 0;
			top:0;
			left:0;
			background-color: #06153875;
			visibility: hidden;
			opacity: 0;
			transition: 0.5s;
		}
		.team-social{
			position: absolute;
			bottom:0;
			left:10px;
			z-index: 1;
			visibility: hidden;
			opacity: 0;
			transition: 0.5s;
		}
		.team-social a{
			color:$white;
			border:1px solid $white;
			padding: 9px;
			border-radius: 50%;
			margin-right: 10px;
			width: 30px;
			height: 30px;
		}
		&:hover	{
			box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
			transform: translateY(-10px);
			.team-thumb:after{
				height: 100%;
				visibility: visible;
				opacity: 1;
			}
			.team-social{
				bottom:15px;
				visibility: visible;
				opacity: 1;
			}
		}
		.ct-twitter{
            &:hover{
                background: $twitter;
                border-color: $twitter;
                color: $white;
            }
        }
        .ct-facebook{
            &:hover{
                background: $facebook;
                border-color: $facebook;
                color: $white;
            }
        }
        .ct-instagram{
            &:hover{
                background: $instagram;
                border-color: $instagram;
                color: $white;
            }
        }
        .ct-skype{
            &:hover{
                background: $skype;
                border-color: $skype;
                color: $white;
            }
        }
        .ct-linkedin{
            &:hover{
                background: $linkedin;
                border-color: $linkedin;
                color: $white;
            }
        }
	}
}


/*******************************************/
// Medium devices (tablets, less than 768px)
/********************************************/
@media (min-width: 768px) {
	#team-area {
		.team-item{
			&:nth-last-child(-n+2) {
				margin-bottom: 0 !important;
			}
		}
	}
}

/*******************************************/
// Medium devices (tablets, less than 992px)
/********************************************/
@media (min-width: 992px) {
	#team-area {
		.team-item{
			margin-bottom: 1.5rem !important;
		}
		.card{
			.card-title{
				font-size:24px;
			}
		}
		.team-item{
			&:nth-last-child(-n+4) {
				margin-bottom: 0 !important;
			}
		}
	}
}

/*******************************************/
// Medium devices (tablets, less than 1025px)
/********************************************/
@media (min-width: 1025px) {
	.team-area-3{
		padding-top: 95px !important;
		.team-item{
			&:nth-last-child(-n+4) {
				.card-body{
					// padding-bottom: 0 !important;
				}
			}
		}
	}
}