/*
	========================
	Inspiring Section
	========================
*/
#technical-solutions{
    background: url('../img/technical-solutions-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    .section-title{
        margin-bottom: 9px;
    }
    .technical-content{
        margin-bottom: 20px;
    }
    .technical-solutions{
        li{
            padding-left: 25px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                background: $activeColor;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                box-shadow: inset 0px 0px 1px 2px $white;
                border: 1px solid $activeColor;
                transform: translateY(-50%);
            }
        }
    }
    .btn-primary{
        img{
            margin-left: 10px;
        }
    }
}


/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
    #technical-solutions{
        .technical-solutions{
            margin-bottom: 40px;
        }
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
    #technical-solutions{
        padding-bottom: 100px;
        padding-top: 92px;
    }

}

@media (min-width: 1380px){
    #testimonials-3{ 
        .owl-prev {
            float: left !important;
            margin: 0 !important;
            transform: translateX(-163px) !important;
        }
        .owl-next{
            float: right;
            transform: translateX(132px) !important;
        }
    }
}

