/*
	========================
	Testimonials Section
	========================
*/
#testimonials{
    background: url(../img/testimonial-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    .item{
        border: 1px solid #46516a;
        padding: 20px;
    }
    .testimonial-content{
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
    }
    .testimonial-author-name{
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
    }
    .owl-nav{
        margin-top: 1rem;
        text-align: center;
        i{
            line-height: 24px;
        }
        button{
            border: 1px solid #838998;
            color: $white;
            width: 25px;
            height: 25px;
            margin: 5px;
            transition: 0.5s;
            &:hover{
                border-color: $activeColor;
                background-color: $activeColor;
            }
        }
    }
}


/*
    ========================
    Testimonials 2 Section
    ========================
*/

#testimonials-2{
    background: #f4f4f4;
    .testimonial-author-img{
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .testimonial-content{
        background: #fff;
        text-align: left;
        padding: 24px 30px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            bottom: -40px;
            left: 50%;
            background: url('../img/arow.png') no-repeat;
            background-position: center;
            background-size: cover;
            height: 40px;
            width: 66px;
            transform: translateX(-50%);
        }
    }
    .testimonial-author-name{
        font-weight: 700;
        font-size: 18px;
    }
    .testimonial-author-subtitle{
        font-size: 15px;
    }

    .owl-dots{
        text-align: center;
        margin-top: 20px;
        .owl-dot{
            width: 10px;
            height: 10px;
            border: 1px solid #4b566f;
            border-radius: 100%;
            margin: 0 5px;
        }
        .active{
            background: $activeColor;
            border-color: $activeColor;
        }
    }
}



/*
    ========================
    Testimonials 3 Section
    ========================
*/

#testimonials-3{
    background: url('../img/testimonials-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    .owl-item{
        padding-top: 30px;
    }
    .item{
        border: 1px solid #3d485f;
        // padding-bottom: 18px;
        border-radius: 5px;
    }
    .item-content{
        transform: translateY(-32px);
    }
    .testimonial-author-img{
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .testimonial-content{
        padding: 3px;
    }
    .testimonial-author-name{
        font-weight: 500;
        font-size: 18px;
    }
    .testimonial-author-subtitle{
        font-size: 15px;
    }
    .quotation{
        // margin-top: 40px;
        margin-top: 15px;
        img{
            width: auto;
            margin: 0 auto;
        }
    }

    .owl-nav{
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        // width: 100%;
        // justify-content: space-between!important;
        // display: flex;
        display: block;
        margin-top: 20px;
        text-align: center;
        i{
            transform: translateY(2px);
            color: #90929b;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }
        button{
            border: 1px solid #90929b;
            color: $white;
            width: 40px;
            height: 40px;
            margin: 5px;
            transition: 0.5s;
            border-radius: 100%;    
            &:last-child{
                margin: 0;
            }
            &:hover{
                border-color: $activeColor;
                background-color: $activeColor;
                i{
                    color: $white;
                }
            }
        }
    }
}

/********************************************/
// Large devices (desktops, 768px and up)
/********************************************/
@media (min-width: 768px) {
    #testimonials {
        position: relative;
		.owl-nav{
            position: absolute;
            top: -60px;
            right: 0;
            margin: 0;
        }
	}
}

/********************************************/
// Large devices (desktops, 992px and up)
/********************************************/
@media (min-width: 992px) {
	#testimonials {
		.item{
            padding: 45px 40px;
        }
        .owl-nav{
            top: -90px;
        }
	}
    #testimonials-2 {
        .owl-dots{
            margin-top: 50px;
        }
    }
}


/********************************************/
// Large devices (desktops, 1025px and up)
/********************************************/
@media (min-width: 1025px) {
    #testimonials {
        padding-bottom: 100px;
        padding-top: 90px;
        .owl-nav{
            top: -100px;
        }
	}
}

/********************************************/
// Large devices (desktops, 1380px and up)
/********************************************/
@media (min-width: 1380px) {

    #testimonials-3{
        .owl-nav{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            justify-content: space-between!important;
            display: flex;
        }
        .owl-prev{
            transform: translateX(-80px);
        }
        .owl-next{
                transform: translateX(80px);
        }
    }
}


/********************************************/
// Large devices (desktops, 1380px and up)
/********************************************/
@media (min-width: 1380px) {

    #testimonials-3{
        .owl-prev{
            transform: translateX(-80px);
        }
        .owl-next{
                transform: translateX(80px);
        }
    }
}

/********************************************/
// Large devices (desktops, 1480px and up)
/********************************************/
@media (min-width: 1480px) {
    #testimonials-3{
        .owl-prev{
            transform: translateX(-236px);
        }
        .owl-next{
                transform: translateX(236px);
        }
    }
}